{% include "UKMDeltaBundle:Geo:kommune.html.twig" %}
<div class="visArrangementer" style="display: none;">
<p>
    Hvilket av arrangementene våre vil du melde deg på?
    </p>
    <ol class="list-group">
        {% for arrangement in kommune.getAttr('arrangementer').getAll() %}
            <li class="list-group-item click">
                <p>
                    {% if not arrangement.erFellesmonstring() %}
                        <a href="{{ path('ukm_delta_ukmid_pamelding_hva', { k_id: kommune.getId(), pl_id: arrangement.getId() }) }}" class="nocolor">
                    {% endif %}
                    <b>{{ arrangement.getNavn() }}</b>
                    <br />
                    <small>{{ arrangement.getStart()|dato('D j. M Y')|capitalize}}</small>
                    {% if not arrangement.erFellesmonstring() %}
                        </a>
                    {% endif %}
                </p>

                {% if arrangement.erFellesmonstring() %}
                    <p>Hvilken {{ fylke.erOslo()? 'bydel': 'kommune' }} er du fra?
                    {% for velg_kommune in arrangement.getKommuner().getAll() %}
                        <a href="{{ path('ukm_delta_ukmid_pamelding_hva', { k_id: velg_kommune.getId(), pl_id: arrangement.getId() }) }}" class="btn btn-outline-primary btn-block">
                            {{ velg_kommune.getNavn() }}
                        </a>
                    {% endfor %}
                {% endif %}
                <div class="clearfix"></div>
            </li>
        {% endfor %}
    </ol>
    <div class="clearfix"></div>
</div>