{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block delta_content %}	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Velg hvilken nominasjon du vil fylle ut</h1>
				<ul class="list-group">
				{% for innslag in nominerte_innslag|filter( innslag => innslag.getNominasjoner().getAll()|filter( nominasjon => not nominasjon.getTilArrangement().erFerdig() )) %}
					<li class="list-group-item">
						<p>
							<b>{{ innslag.getNavn() }}</b>, {{ innslag.getType().getNavn() }}
						</p>
						<ul class="list-group">
							{% for nominasjon in innslag.getNominasjoner().getAll()|filter( nominasjon => not nominasjon.getTilArrangement().erFerdig() ) %}
								<a href="{{ path('ukm_nominasjon_finn_skjema', {'id': nominasjon.getId() }) }}" class="list-group-item list-group-item-action {{ nominasjon.harDeltakerSkjema() ? 'disabled' : '' }}">
									Nominert fra {{ nominasjon.getFraArrangement().getNavn() }} til {{ nominasjon.getTilArrangement().getNavn() }}
									<br />
									{% if nominasjon.harDeltakerSkjema() %}
										<span class="text-success">Skjema allerede sendt inn.</span>
									{% elseif nominasjon.getTilArrangement().getVideresendingStenger() > date("now") %}
										Fyll ut nominasjonsskjema
										<span class="pull-right">frist {{ nominasjon.getTilArrangement().getVideresendingStenger()|dato('d.m') }}
										</span>
									{% else %}
										<b>Fristen for å fylle inn nominasjonsinformasjon utgikk {{ nominasjon.getTilArrangement().getVideresendingStenger()|dato('d.m.Y') }}.</b>
									{% endif %}
								</a>
							{% endfor %}
						</ul>
					</li>
				{% else %}
					<li>
						<strong>
							Beklager, men vi finner ikke noen nominasjoner for deg. Mener du dette er feil, kontakt lokalkontakten din.
						</strong>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}