{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block delta_content %}	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Velg hvilken nominasjon du vil fylle ut</h1>
				<ul class="list-group">
				{% for innslag in nominerte_innslag %}
					<li class="list-group-item">
						<p>
							<b>{{ innslag.getNavn() }}</b>, {{ innslag.getType().getNavn() }}
						</p>
						<ul class="list-group">
							{% for nominasjon in innslag.getNominasjoner().getAll() %}
								<a href="{{ path('ukm_nominasjon_finn_skjema', {'id': nominasjon.getId() }) }}" class="list-group-item list-group-item-action {{ nominasjon.harDeltakerSkjema() ? 'disabled' : '' }}">
									Nominert fra {{ nominasjon.getFraArrangement().getNavn() }} til {{ nominasjon.getTilArrangement().getNavn() }}
									<br />
									{% if nominasjon.harDeltakerSkjema() %}
										Skjema allerede sendt inn.
									{% elseif nominasjon.getTilArrangement().getFrist(1)|date() < "now"|date() %}
										Fyll ut nominasjonsskjema
										<span class="pull-right">frist {{ nominasjon.getTilArrangement().getFrist(1)|dato('d.m') }}
										</span>
									{% else %}
										<b>Fristen for å fylle inn nominasjonsinformasjon utgikk {{ nominasjon.getTilArrangement().getFrist(1)|dato('d.m') }}.</b>
									{% endif %}
								</a>
							{% endfor %}
						</ul>
					</li>
				{% else %}
					<li>
						<strong>
							Beklager, men vi finner ikke noen nominasjoner for deg. Mener du dette er feil, kontakt lokalkontakten din.
						</strong>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}