{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block delta_content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mt-0">
					{{ 'removeAction.overskrift'|trans({'%name%': innslag.getNavn()}, 'base') }}
				</h2>
				<div class="mt-4">
					<form action="{{ path('ukm_delta_ukmid_meld_av', {k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}" method="POST">
						<button type="submit" class="btn btn-block btn-danger">
							{{ 'removeAction.ja'|trans({}, 'base') }}
						</button>
					</form>
				</div>
				
				<div class="my-4">
					<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
						<button class="btn btn-block btn-outline-primary">
							{{ 'removeAction.nei'|trans({},'base') }}
						</button>
					</a>
				</div>

				<p class="center">
					<a href="{{ path('ukm_delta_ukmid_homepage') }}">
						{{ 'removeAction.hjem'|trans({}, 'base') }}
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}