{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>
					{{ 'frist.overskrift'|trans({}, 'base') }}
				</h1>
				<p class="lead">{{ 'frist.ledetekst'|trans({}, 'base') }}</p>
				{% if innslag is defined %}
					<p>
						{{ 'frist.link'|trans({}, 'base') }}
						<a href="//ukm.no/pl{{ pl_id }}/">ukm.no/pl{{ pl_id }}/</a> 
					</p>
				{% endif %}

				<div>
					<a class="btn btn-block btn-outline-primary" href="{{ path('ukm_delta_ukmid_homepage') }}">{{ 'frist.hjemknapp'|trans({},'base') }}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %} 