{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMDeltaBundle/Resources/public/js/velgmonstring.js'
		'@UKMDeltaBundle/Resources/public/js/fastlivefilter.jquery.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
{% block content %}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<h1 class="mt-0">{{ 'geoAction.overskrift'|trans }}</h1>
                <p class="lead">
                    {{ 'geoAction.topptekst'|trans }}
                </p>
				
				<!-- Søkefelt her -->
				<input type="text" class="form-control input-sm delta-input my-3" name="filtrer" id="filterMonstringer" placeholder="{{ 'geoAction.filterLabel'|trans }}" />
				<div id="lokalmonstringer">
					{% for fylke in monstringsliste %}
						<h4 id="header_{{ fylke.id }}" class="mt-4 mb-2">{{ fylke.name }}</h4>
						<ul data-fylke="{{ fylke.id }}" class="list list-unstyled list-group"> 
							{% for monstring in fylke.monstringer %}
								<li class="list-group-item click" data-filter="{{ monstring.name }} {{ monstring.kommuner|join(' ')|replace({ 'ü' : 'u'}) }} {{ fylke.name }}" >
									{% embed "UKMDeltaBundle:Innslag:geo_" ~ ( monstring.fellesmonstring ? 'felles' : 'enkel' ) ~ "monstring.html.twig" with {'monstring': monstring, 'fylke_id': fylke.id} %}{% endembed %}
								</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
