{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block scripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMDeltaBundle/Resources/public/js/velgmonstring.js'
		'@UKMDeltaBundle/Resources/public/js/fastlivefilter.jquery.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
{% block content %}
	<h1 class="center">{{ 'geoAction.overskrift'|trans }}</h1>
	
	<p>&nbsp;</p>
	
	{# VI TROR VI VET DET!!! #}
	{% if lokal_monstring %}
		<h3 class="center">{{ 'geoAction.vi_tror'|trans }}</h3>
		<ul class="list-unstyled">
			<li class="list-group-item click">
				{% if lokal_monstring.fellesmonstring %}
					{% embed "UKMDeltaBundle:Innslag:geo_fellesmonstring.html.twig" with {'monstring': lokal_monstring} %}{% endembed %}
				{% else %}
					{% embed "UKMDeltaBundle:Innslag:geo_enkelmonstring.html.twig" with {'monstring': lokal_monstring} %}{% endembed %}
				{% endif %}
			</li>
		</ul>
		<h3 class="center">{{ 'geoAction.tok_vi_feil'|trans }}</h3>
	{% else %}
		<p class="lead center">
			{{ 'geoAction.topptekst'|trans }}
		</p>
	{% endif %}
	
	<!-- Søkefelt her -->
	<input type="text" class="form-control input-sm delta-input" name="filtrer" id="filterMonstringer" placeholder="{{ 'geoAction.filterLabel'|trans }}" />
	<div id="lokalmonstringer">
		{% for fylke in monstringsliste %}
			<h4 id="header_{{ fylke.id }}" class="text-center">{{ fylke.name }}</h4>
			<ul data-fylke="{{ fylke.id }}" class="list list-unstyled list-group"> 
				{% for monstring in fylke.monstringer %}
					<li class="list-group-item click" data-filter="{{ monstring.name }} {{ monstring.kommuner|join(' ')|replace({ 'ü' : 'u'}) }} {{ fylke.name }}" >
						{% if monstring.fellesmonstring %}
							{% embed "UKMDeltaBundle:Innslag:geo_fellesmonstring.html.twig" with {'monstring': monstring} %}{% endembed %}
						{% else %}
							{% embed "UKMDeltaBundle:Innslag:geo_enkelmonstring.html.twig" with {'monstring': monstring} %}{% endembed %}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
{% endblock %}