{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% set translationGroup = show is defined and show == 'whereyoufrom' ? 'fromGeoAction' : 'geoAction' %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMDeltaBundle/Resources/public/js/velgmonstring.js'
		'@UKMDeltaBundle/Resources/public/js/fastlivefilter.jquery.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
    <script>
        // Vis kommuner, ingen arrangementer, arrangement-liste, eller send videre til påmelding
        // avhengig av kommunens muligheter. Oh the choices.
        $(document).on('click', 'li.kommune:not(".visArrangementKommuner")', function(e) {
            var clicked = $(e.target);

            // Det er en kommune med flere arrangement, og brukeren trykket på en av de,
            // som også er et felles-arrangement (tjo-hei!)
            if( clicked.parents('.visArrangementKommuner').length > 0 ) {
                return true;
            }

            // Finn kommune ut fra hvilket element som er klikket på
            if( clicked.is('li.kommune') ) {
                var kommune = clicked;
            } else {
                var kommune = clicked.parents('li.kommune');
            }

            // Hvis vi trykket på ei lenke - følg den da.
            if( $(e.target).is('a') ) {
                return true;
            }
            e.preventDefault();
            
            // VI SKAL VISE/SKJULE NOE
            var selector = false;
            // Kommunen har ingen arrangement
            if (kommune.attr('data-action') == 'visIngenArrangement') {
                selector = '.noArrangement';
            }
            // Kommunen har flere arrangement
            else if (kommune.attr('data-action') == 'visArrangementer') {
                selector = '.visArrangementer';
            }
            // Kommunen har ett arrangement som er en fellesmønstring
            else if (kommune.attr('data-action') == 'visKommuner') {
                selector = '.visKommuner';
            }
            else {
                window.location.href = kommune.attr('data-link');
                return true;
            }

            if( kommune.find(selector).is(':visible') ) {
                kommune.removeClass('active');
                kommune.find(selector).slideUp();
            } else {
                kommune.addClass('active');
                kommune.find(selector).slideDown();
            }
        });
        
        // Vis kommuner for en kommunes arrangementer
        $(document).on('click', 'li.kommune .visArrangementKommuner', function(e) {
            var clicked = $(e.target);

            var arrangement = clicked.parents('.arrangement');
            var kommuneListe = arrangement.find('.arrangementKommuner');
            
            if( kommuneListe.is(':visible') ) {
                kommuneListe.slideUp();
            } else {
                kommuneListe.slideDown();
            }
        });
    </script>
{% endblock %}

{% block delta_content %}
    <script>
        // OBS: Denne siden er ikke i bruk lenger derfor redirektes til den nye siden. Den nye siden bruker VueJS
        if(director) {
            var redirectPath = String("{{ url('ukm_delta_ukmid_homepage') }}") + "?page=pageMeldPaaArrangement";
            window.location.href = redirectPath;
        }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-0">{{ (translationGroup~'.overskrift')|trans }}</h1>
                {% if show is defined and show == 'whereyoufrom' %}
                    {# hopper over topptekst her inntil videre #}
                {% else %}
                    <p class="lead">
                        {{ (translationGroup~'.topptekst')|trans }}
                    </p>
                {% endif %}
                {% if suggested_kommune is defined %}
                    <div id="suggested">
                        {{ (translationGroup~'.vi_tror')|trans }}
                        <li class="list-group-item click kommune" data-action="{{ suggested_kommune.getAttr('action') }}" data-link="{{ suggested_kommune.getAttr('link') }}">
                            {% include "UKMDeltaBundle:Geo:"~ suggested_kommune.getAttr('action') ~".html.twig" with { kommune: suggested_kommune, fylke: suggested_fylke } %}
                            <div class="clearfix"></div>
                        </li>
                        {{ 'geoAction.tok_vi_feil'|trans }}
                    </div>
                {% endif %}

                <!-- Søkefelt her -->
                <input type="text" class="form-control input-sm delta-input my-3" name="filtrer" id="filterMonstringer" placeholder="{{ 'geoAction.filterLabel'|trans }}"/>
                
                <div id="lokalmonstringer">
                    {% for fylke in fylker %}
                        <p class="bold mb-0 fylkeHeader mt-4 mb-2" id="header_{{ fylke.getId() }}">{{ fylke.getNavn()|upper }}</p>
                        <ul data-fylke="{{ fylke.getId() }}" class="list list-unstyled list-group">
                            {% for kommune in fylke.getKommuner().getAll() %}
                                <li class="list-group-item click kommune" data-action="{{ kommune.getAttr('action') }}" data-filter="{{ include("UKMDesign/Kommune/Filternavn-v1.html.twig"|UKMpath|oneline) }} {{ fylke.getNavn() }}" data-link="{{ kommune.getAttr('link') }}">
                                    {% include "UKMDeltaBundle:Geo:"~ kommune.getAttr('action') ~".html.twig" %}
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>

                <p id="plNoneFound">
                    Finner ingen kommuner eller bydeler med det navnet.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
