{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block scripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMDeltaBundle/Resources/public/js/velgmonstring.js'
		'@UKMDeltaBundle/Resources/public/js/fastlivefilter.jquery.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
{% block content %}
	<h1 class="center">{{ 'geoAction.overskrift'|trans }}</h1>
	
	<p>&nbsp;</p>
	
	<p class="lead center">
		{{ 'geoAction.topptekst'|trans }}
	</p>
	<!-- Søkefelt her -->
	<input type="text" class="form-control input-sm delta-input" name="filtrer" id="filterMonstringer" placeholder="{{ 'geoAction.filterLabel'|trans }}" />
	<div id="lokalmonstringer">
	
		{% for fylke in monstringsliste %}
			<h4 id="header_{{ fylke.id }}" class="text-center">{{ fylke.name }}</h4>
			<ul data-fylke="{{ fylke.id }}" class="list list-unstyled list-group"> 
				{% for monstring in fylke.monstringer %}
						<li class="list-group-item click" data-filter="{{ monstring.name }} {{ monstring.kommuner|join(' ')|replace({ 'ü' : 'u'}) }} {{ fylke.name }}" >
						{% if monstring.fellesmonstring %}
							{# Lag en div som kan utvides ved å trykkes på #}
							<div class="fellesmonstring">
								<div class="row fellesmonstring-header">
									<div class="col-xs-8">
										<a href="#" onclick="return false;">{{ monstring.name }}</a>
									</div>
									<div class="col-xs-4 delta-input-header fellesmonstring-list">
										{% for kommuner in monstring.kommuner %}
											<small>{{ kommuner }}</small>
										{% endfor %}
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row fellesmonstring-chooser" style="padding-left: 10px; display:none;">
									<div class="col-xs-12">
										<span>{{ 'geoAction.fellesmonstringLabel'|trans }}</span>
									</div> 
									<div class="col-xs-12 center">
										{% for key,kommune in monstring.kommuner %}
											{% if app.environment == 'test' and fylke.id != 21 %}
											<a class="btn btn-block btn-primary" href="javascript:alert('Ikke tilgjengelig i testsystemet. Velg testkommune 1, 2 eller 3');">
											{% else %}
											<a class="btn btn-block btn-primary" href="{{ path('ukm_delta_ukmid_pamelding_hva', { k_id: key, pl_id: monstring.id }) }}"> 
											{% endif %}
												<div class="row">
													<div class="col-xs-12">
														{{ kommune }} 
													</div>
												</div>
											</a>
										{% endfor %}
									</div>
								</div>
							</div> {# .fellesmonstring #}
						{% else %}
							{% if app.environment == 'test' and fylke.id != 21 %}
							<a href="javascript:alert('Ikke tilgjengelig i testsystemet. Velg testkommune 1, 2 eller 3');">
							{% else %}
							<a href="{{ path('ukm_delta_ukmid_pamelding_hva', { k_id: monstring.k_id, pl_id: monstring.id }) }}"> 
							{% endif %}
								<div class="row">
									<div class="col-md-9 col-xs-9">
										{{ monstring.name }}
									</div>
									<div class="col-md-3 col-xs-3">
									</div>
								</div>
							</a>
						{% endif %}

					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	
	</div>
{% endblock %}