{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block scripts %}
    {{ parent() }}
    {% javascripts 
		'@UKMDeltaBundle/Resources/public/js/innslag.js'
		'@UKMDeltaBundle/Resources/public/js/videresend.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block delta_content %}
    <div class="container">
        <div class="row">
            <div class="col-12 paamelding-box big-box">
                <h1 class="mt-0">
                    {{ type.getNavn() }}
                    {{ innslag.getNavn() }}
                </h1>

                <form class="form-group delta-form" id="mainform" method="POST" action="{{ path('ukm_delta_ukmid_pamelding_lagre', { k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id }) }}">

                    {% if type.harBeskrivelse() %}
                        <label>{{ ('overviewAction.beskrivelse.label')|trans }}</label>
                        <div class="input-area" style="margin: 10px 0 40px 0;">
                            <div class="input-delta open" mangler="innslag.beskrivelse">
                                <div class="overlay">
                                    <div class="info">
                                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: #A0AEC0 ;transform: ;msFilter:;"><path d="M15 11h7v2h-7zm1 4h6v2h-6zm-2-8h8v2h-8zM4 19h10v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1h2zm4-7c1.995 0 3.5-1.505 3.5-3.5S9.995 5 8 5 4.5 6.505 4.5 8.5 6.005 12 8 12z"></path></svg>
                                        <span class="text">Beskrivelse</span>
                                    </div>
                                </div>
                                <textarea required name="beskrivelse" type="text" class="input" style="height: auto"></textarea>
                                <button class="button-right hover-button-delta" data-toggle="collapse" href="#beskrivelseInfo" type="button" aria-expanded="false" aria-controls="beskrivelseInfo">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="-3 -2 28 28" style="fill: #fff ;transform: ;msFilter:;"><path d="M12 4C9.243 4 7 6.243 7 9h2c0-1.654 1.346-3 3-3s3 1.346 3 3c0 1.069-.454 1.465-1.481 2.255-.382.294-.813.626-1.226 1.038C10.981 13.604 10.995 14.897 11 15v2h2v-2.009c0-.024.023-.601.707-1.284.32-.32.682-.598 1.031-.867C15.798 12.024 17 11.1 17 9c0-2.757-2.243-5-5-5zm-1 14h2v2h-2z"></path></svg>
                                </button>
                            </div>
                            <div id="beskrivelseInfo" class="beskrivelse-under-input-delta collapse">
                                <div class="space">
                                    <div class="info-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #edf2f7; transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M11 11h2v6h-2zm0-4h2v2h-2z"></path></svg>
                                    </div>
                                    <span>
                                        {{ ('overviewAction.beskrivelse.placeholder')|trans }}
                                    </span>
                                </div>
                            </div>
                            <p class="help text-muted" style="margin-top: 5px;">
                                {{ 'overviewAction.beskrivelse.hvor'|trans({},'base') }}
                            </p>
                        </div>
                    {% endif %}


                    {% if type.harFunksjoner() %}
                        <div class="form-group">
                            <label>{{ ('funksjon.label')|trans }}</label>
                            <p class="help">{{ 'funksjon.forklaring'|trans }}</p>
                        </div>

                        <div class="list-group">
                            {% for id, navn in type.getFunksjoner() %}
                                <label class="list-group-item click input-delta-checkbox" for="funksjon_{{ id }}">
                                    <input type="checkbox" name="funksjoner[]" value="{{ id }}" {{ id in innslag.getPersoner().getSingle().getRolleObject() ? 'checked="checked"' }} id="funksjon_{{ id }}"/>
                                    &nbsp;
                                    {{ type.getTekst('funksjon.'~id) }}
                                </label>
                            {% endfor %}
                        </div>
                    {% endif %}


                    <div class="form-group my-3">
                        <div class="fullfor-button-div">	
                            <div class="button-div">
                                <button class="round-style-button fullfor" type="submit">
                                    {{ 'overviewAction.lagre'|trans({},'base') }}
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
