{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMDeltaBundle/Resources/public/js/innslag.js'
		'@UKMDeltaBundle/Resources/public/js/triggerlink.js'
		'@UKMDeltaBundle/Resources/public/js/videresend.js' %}
    	<script src="{{ asset_url }}" type="text/javascript"></script> 
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form class="form-group delta-form" id="overview_mainform" method="POST" action="{{ path('ukm_delta_ukmid_pamelding_lagre', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
					<input type="hidden" name="path" id="deltapath" value="" autocomplete="off" />

					<div class="form-group">
						<label>{{ ('overviewAction.artistnavn.' ~ ( hvem is defined ? hvem : 'kontakt' ) ~ '.label')|trans }}</label>
						<input type="text" required name="navn" class="form-control" placeholder="{{ ('overviewAction.artistnavn.' ~ ( hvem is defined ? hvem : 'kontakt' ) ~ '.placeholder')|trans({'%fornavn': user.getFirstName(), '%etternavn': user.getLastName() }) }}" value="{{ innslag.getNavn() != 'Innslag uten navn' ? innslag.getNavn() : ''  }}" /> 
					</div>

					<div class="form-group">
						<label>{{ ('overviewAction.beskrivelse.' ~ ( hvem is defined ? hvem : 'kontakt' ) ~ '.label')|trans({'%fornavn': user.getFirstName(), '%etternavn': user.getLastName() }) }}</label>
						<p class="help">{{ ('overviewAction.beskrivelse.hvor')|trans }}</p>
						<textarea name="beskrivelse" rows="3" class="form-control" placeholder="{{ ('overviewAction.beskrivelse.' ~ ( hvem is defined ? hvem : 'kontakt' ) ~ '.placeholder')|trans({'%fornavn': user.getFirstName(), '%etternavn': user.getLastName() }) }}">{{ innslag.getBeskrivelse() }}</textarea>			
					</div>
					
					{# SJANGER #}
					{# Kun printe denne om kategori er musikk, film, annet? #}
					{% if innslag.getType().harSjanger() %}
						<div class="form-group">
							<label>{{ ('overviewAction.sjanger.label')|trans }}</label>
							<input type="text" name="sjanger" class="form-control" placeholder="{{ ('overviewAction.sjanger.placeholder')|trans }}" value="{{ innslag.getSjanger() }}" />
						</div>
					{% endif %}
					
                    {# PERSONER #}
					<div class="my-3">
						{% include 'UKMDeltaBundle:Innslag:personer.html.twig' %} 
					</div>
					
                    {# TITLER #}
					<div class="my-3">
						{% include 'UKMDeltaBundle:Tittel:titler.html.twig' %}
					</div>

                    {# TEKNISKE BEHOV #}
					<div class="my-3">
						{% if innslag.getType().harTekniskeBehov() %}
							{% include 'UKMDeltaBundle:Innslag:tekniskebehov.html.twig' %}
						{% endif %}
					</div>

					<div class="my-3 form-group">
						<button type="submit" class="btn btn-block btn-outline-primary btn-success">{{ 'overviewAction.lagre'|trans }}</button>
					</div>
					
					{# KUN VIS DENNE OM INNSLAGET ER PÅMELDT ELLER PÅ VEI TIL Å BLI PÅMELDT? #}
					{% if innslag.erPameldt() %}
						<p class="my-4">
							<a href="{{ path('ukm_delta_ukmid_meld_av', {k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}" class="btn btn-block btn-danger btn-sm">{{ 'overviewAction.meldav'|trans({'%name': innslag.getNavn()}, 'base') }}</a>
						</p>
					{% endif %}

					<p class="center">
						<a href="{{ path('ukm_delta_ukmid_homepage') }}" class="">{{ 'overviewAction.avbryt'|trans({}, 'base') }}</a>
					</p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}