{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).on("click", "#share", function() {
			FB.ui({
					method: 'share',
					href: 'https://delta.ukm.no',
					caption: '{{ fb_share_caption }}',
					picture: 'https://grafikk.ukm.no/pamelding/startpamelding.png',
			}, function(response){});
		});
	</script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mt-0">
					{{ 'attendingAction.overskrift'|trans }}
				</h1>
				<p>
					UKM {{ pl_navn }}
					{{ 'attendingAction.monstringstarter'|trans({ '%dag%': pl_start|dato('l') ~' '~ pl_start|dato('j'), '%maned%': pl_start|dato('F'), '%time%': pl_start|dato('G'), '%minutt%': pl_start|dato('i')}) }}
				</p>
			</div>


			<div class="col-12">
				<button class="btn btn-block btn-outline-primary" id="share">
					{{ 'fb_share_button'|trans({}, 'base') }}
				</button>

{#
				<a class="btn btn-block btn-outline-primary this-is-js" href="//{{ UKM_HOSTNAME }}/{{ pl_link }}/program/" target="_lokalside">
					{{ 'attendingAction.visprogram'|trans }}
				</a>
#}
				<a class="btn btn-block btn-outline-primary this-is-js" href="//{{ UKM_HOSTNAME }}/{{ pl_link }}/pameldte/" target="_lokalside">
					{{ 'attendingAction.vispameldte'|trans }}
				</a>
			</div>
			

			<div class="col-12 mt-3">
				<div class="alert alert-warning">
					{{ 'filmfoto.samtykke'|trans({'%lokalkontakten%': '<a class="this-is-js" href="//'~ UKM_HOSTNAME ~'/'~ pl_link ~'/kontaktpersoner/" target="_lokalside">lokalkontakten</a>'|raw }, 'base')|raw|nl2br }}
				</div> 
				
				<p>
					{{ 'attendingAction.flertekst'|trans }} {{ 'attendingAction.meldtekst'|trans }}
				</p>
			</div>


			<div class="col-12">
				<a class="btn btn-block btn-outline-primary my-3" href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
					{{ 'attendingAction.rediger'|trans }}
				</a>

				<a class="btn btn-block btn-outline-primary" href="{{ path('ukm_delta_ukmid_homepage') }}">{{ 'attendingAction.videreknapp'|trans }}</a>
			</div>
		</div>
	</div>
{% endblock %}
