{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% if person is defined and person %}
					<h1 class="mt-0">{{ 'person.overskrift.rediger'|trans({'%fornavn': person.get('p_firstname')}, 'base') }}</h1>
					<form class="delta-form " method="POST" action="{{ path('ukm_delta_ukmid_pamelding_lagre_personinfo', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, p_id: p_id }) }}">
				{% else %}
					<h1 class="mt-0">{{ 'person.overskrift.legg_til'|trans({}, 'base') }}</h1>
					<form class="delta-form " method="POST" action="{{ path('ukm_delta_ukmid_pamelding_lagre_ny_person', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}"> 
				{% endif %}
					<div class="form-group"> 
						<label>{{ 'person.fornavn.label'|trans({}, 'base') }}</label>
						<input type="text" required name="fornavn" class="form-control" placeholder="" value="{{ person.get('p_firstname') is defined ? person.get('p_firstname') : '' }}" />
					</div>
					<div class="form-group"> 
						<label>{{ 'person.etternavn.label'|trans({}, 'base') }}</label>
						<input type="text" required name="etternavn" class="form-control" placeholder="" value="{{ person.get('p_lastname') is defined ? person.get('p_lastname') : '' }}" />
					</div>

					<div class="form-group"> 
						<label>{{ 'person.alder.label'|trans({}, 'base') }}</label>
						<select name="alder" required class="form-control delta-select">
							<option value="" {{ age is defined and (age < 25) and (age > 9) and (age != '25+') ? '' : 'selected' }} disabled>{{ 'person.alder.listDefault'|trans({}, 'base') }}</option> 
							{% for i in 10..25 %}
								<option value="{{ i }}" {{ age is defined and age == i ? 'selected' : '' }}>{{ i }} {{ 'person.alder.ar'|trans({ "year": "now"|date("Y") - i }, 'base') }}</option> 
							{% endfor %}
								<option value="0"{{ age is defined and (age == '25+') ? 'selected' : '' }}>{{ 'person.alder.over25'|trans({}, 'base') }}</option>
						</select>
					</div>
					
					<div class="form-group"> 
						<label>{{ 'person.mobil.label'|trans({}, 'base') }}</label>
						<input type="tel" required name="mobil" class="form-control" placeholder="" value="{{ person.get('p_phone') is defined ? person.get('p_phone') : '' }}" />
					</div>
					
					<div class="form-group"> 
						<label>{{ 'person.rolle.label'|trans({'%person': person.get('p_firstname') is defined ? person.get('p_firstname') : 'personen'})  }}</label>
						<input type="text" required name="instrument" class="form-control" placeholder="{{ 'person.rolle.placeholder'|trans({'%person': person.get('p_firstname') is defined ? person.get('p_firstname') : 'personen'}) }}" value="{{ person.get('instrument') is defined ? person.get('instrument') : '' }}" />
						<p class="help">{{ 'person.rolle.help'|trans({'%person': person.get('p_firstname') is defined ? person.get('p_firstname') : 'personen'}) }}</p>
					</div>
					
					<div class="form-group mt-5"> 
						<p>
							<button type="submit" class="btn btn-block btn-outline-primary btn-success">{{ 'person.lagre'|trans({}, 'base') }}</button>
						</p>
						{% if person is defined and person %}
						<p class="my-4">
							<a href="{{ path('ukm_delta_ukmid_pamelding_fjern_person', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, p_id: p_id }) }}" class="btn btn-danger btn-block btn-sm">{{ 'person.fjern.label'|trans({'%person': person.get('p_firstname'), '%innslag': innslag.get('b_name')}) }}</a>
						{% endif %}
						</p>

						<p align="center">
							<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">{{ 'person.avbryt'|trans({},'base') }}</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}