{% trans_default_domain translationDomain %}
<label>{{ 'overviewAction.personer.overskrift'|trans({},'base') }}</label>

<ul class="list-group">
	{% for person in innslag.getPersoner().getAll() %}
		<li class="list-group-item click triggerLink">
			<div class="row">
				<div class="col-2 px-0">
					<div class="overunder">
						<div class="over">{{ person.getAlder('') }}</div>
						<div class="under">år</div>
					</div>
				</div>
				<div class="col-7">
					<p style="line-height:1em">
						{{ person.getNavn() }}
						<br />
						<small>
							{% if person.getRolle() is not empty %}
								{{ person.getRolle() }}
							{% else %}
								<span class="badge badge-danger">{{ type.getTekst('rolle.ukjent') }}: trykk her</span>
							{% endif %}
						</small>
					</p>
				</div>
				<div class="col-3">
					<a href="{{ path('ukm_delta_ukmid_pamelding_personinfo', { k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id, p_id: person.getId() } ) }}" id="editP{{ person.getId() }}" class="actionLink btn btn-sm btn-outline-primary autoshrink">{{ 'person.rediger'|trans({},'base') }}</a>
				</div>
			</div>
		</li>
	{% else %}
		<li class="list-group-item">{{ 'overviewAction.personer.ingen'|trans({},'base') }}</h3>
	{% endfor %}
	<li class="list-group-item">
		<a href="{{ path('ukm_delta_ukmid_pamelding_ny_person', {k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id }) }}" class="btn btn-block btn-outline-primary btn-sm">{{ 'overviewAction.personer.legg_til'|trans({},'base') }}</a>
	</li>
</ul>