{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block delta_content%}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {# REDIGER PERSON #}
                {% if person is defined %}
                    <h1 class="mt-0">{{ 'person.overskrift.rediger'|trans({'%fornavn': person.getFornavn()}, 'base') }}</h1>
                    <form class="delta-form " method="POST" action="{{ path('ukm_delta_ukmid_pamelding_lagre_personinfo', { k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id, p_id: person.getId() }) }}">
                {# LEGG TIL PERSON #}
                {% else %}
                    <h1 class="mt-0">{{ 'person.overskrift.legg_til'|trans({}, 'base') }}</h1>
                    <form class="delta-form " method="POST" action="{{ path('ukm_delta_ukmid_pamelding_lagre_ny_person', { k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id }) }}">
                {% endif %}

                    {# FORNAVN #}
                    <div class="form-group">
                        <label>{{ 'person.fornavn.label'|trans({}, 'base') }}</label>
                        <input type="text" required name="fornavn" id="fornavn" class="form-control" placeholder="" value="{{ person is defined ? person.getFornavn() : '' }}"/>
                    </div>

                    {# VENNELISTE VISES PÅ LEGG TIL NY PERSON #}
                    <div id="venneliste-container" style="display: none;">
                        <p>
                            Legge til noen du har deltatt med tidligere?
                            <br/>
                            <small>
                                Trykk på navnet under, eller
                                <a href="#" id="hideFriendsList" style="font-weight: bold;">skjul venne-forslag</a>
                            </small>
                        </p>
                        {% if friends is defined %}
                            <ul class="list-group mt-2 mb-3" id="friendsList">
                                {% for venn in friends %}
                                    <li class="list-group-item personFilter venn" style="cursor: pointer;" data-filter="{{ venn.getFornavn() }}" data-fornavn="{{venn.getFornavn() }}" data-etternavn="{{ venn.getEtternavn() }}" data-mobil="{{ venn.getMobil() }}" data-alder="{{ venn.getAlder(null) }}" data-pameldid="{{ venn.getId() }}">{{ venn.getNavn() }}
                                        <small>({{ venn.getMobil() }})</small>
                                    </li>
                                {% endfor %}
                            </ul>
                            <input type="hidden" name="pameldId" id="pameldId"/>
                        {% endif %}
                    </div>

                    {# ETTERNAVN #}
                    <div class="form-group">
                        <label>{{ 'person.etternavn.label'|trans({}, 'base') }}</label>
                        <input type="text" required name="etternavn" id="etternavn" class="form-control" placeholder="" value="{{ person is defined ? person.getEtternavn() : '' }}"/>
                    </div>

                    {# ALDER #}
                    <div class="form-group">
                        <label>{{ 'person.alder.label'|trans({}, 'base') }}</label>
                        <select name="alder" required id="alder" class="form-control delta-select">
                            <option value="" {{ person is defined and (person.getAlder('') < 25 and person.getAlder('') > 9 and person.getAlder('') != '25+') ? '' : 'selected' }} disabled>{{ 'person.alder.listDefault'|trans({}, 'base') }}</option>
                            {% for i in 10..25 %}
                                <option value="{{ i }}" id="{{ i }}" {{ person is defined and person.getAlder('') == i ? 'selected' : '' }}>{{ i }}
                                    {{ 'person.alder.ar'|trans({ "year": "now"|date("Y") - i }, 'base') }}</option>
                            {% endfor %}
                            <option value="0" {{ person is defined and (person.getAlder('') == '25+') ? 'selected' : '' }}>{{ 'person.alder.over25'|trans({}, 'base') }}</option>
                        </select>
                    </div>

                    {# MOBIL #}
                    <div class="form-group">
                        <label>{{ 'person.mobil.label'|trans({}, 'base') }}</label>
                        <input type="tel" required name="mobil" id="mobil" pattern="^\d{8}$"maxlength="8" class="form-control" placeholder="{{ 'person.mobil.placeholder'|trans({}, 'base') }}" value="{{ person is defined ? person.getMobil() : '' }}"/>
                    </div>

                    {# INSTRUMENT / ROLLE #}
                    <div class="form-group">
                        <label>{{ type.getTekst('rolle.navn', {'%person': person is defined and person.getFornavn() is not empty ? person.getFornavn() : 'personen'})  }}</label>
                        <input type="text" required name="instrument" class="form-control" placeholder="{{ type.getTekst('rolle.placeholder', {'%person': person is defined and person.getFornavn() is not empty ? person.getFornavn() : 'personen'}) }}" value="{{ person is defined ? person.getRolle() : '' }}"/>
                        <p class="help">{{ type.getTekst('rolle.hjelp', {'%person': person.get('p_firstname') is defined ? person.get('p_firstname') : 'personen'}) }}</p>
                    </div>

                    <div class="form-group mt-5">
                        <p>
                            <button type="submit" class="btn btn-block btn-outline-primary btn-success">{{ 'person.lagre'|trans({}, 'base') }}</button>
                        </p>
                        {% if person is defined %}
                            <p class="my-4">
                                <a href="{{ path('ukm_delta_ukmid_pamelding_fjern_person', { k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id, p_id: person.getId() }) }}" class="btn btn-danger btn-block btn-sm">{{ 'person.fjern'|trans({'%person': person.getNavn(), '%innslag': innslag.getNavn()}, 'base') }}</a>
                            {% endif %}
                        </p>

                        <p align="center">
                            <a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id }) }}">{{ 'person.avbryt'|trans({},'base') }}</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if friends is defined %}
        <script type="text/javascript">
            jQuery(document).on('keyup', '#fornavn', function () {
                let containerHide = true;
                var words = jQuery(this).val().toLowerCase().split(' ');
                jQuery("#friendsList .personFilter").each(function () {
                    show = true;
                    for (var i = words.length - 1; i >= 0; i--) {
                        if (jQuery(this).attr('data-filter').toLowerCase().indexOf(words[i]) == -1) {
                            show = false;
                        }
                    }
                    if (show) {
                        jQuery(this).show();
                        containerHide = false;
                    } else {
                        jQuery(this).hide();
                    }
                });

                if (jQuery(this).val() == "") 
                    containerHide = true;
                

                if (containerHide) {
                    jQuery("#venneliste-container").hide();
                    // Rydd opp i felt, f.eks ved feiltrykk
                    jQuery("#etternavn").val("");
                    jQuery("#alder").val(null).change();
                    jQuery("#mobil").val("");
                    jQuery("#pameldId").val("");
                } else {
                    jQuery("#venneliste-container").show();
                }
            });

            // Click-handler for venne-liste
            jQuery(document).on('click', '.venn', function () { // Sett inn data i feltene
                jQuery("#fornavn").val(jQuery(this).attr('data-fornavn'));
                jQuery("#etternavn").val(jQuery(this).attr('data-etternavn'));
                jQuery("#alder").val(jQuery(this).attr('data-alder')).change();
                jQuery("#mobil").val(jQuery(this).attr('data-mobil'));
                jQuery("#pameldId").val(jQuery(this).attr('data-pameldId'));
                jQuery("#venneliste-container").slideUp(300);
            });

            jQuery(document).on('click', '#hideFriendsList', function() {
                jQuery("#venneliste-container").slideUp(200);
            });
        </script>
    {% endif %}
{% endblock %}
