{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}
	
	<h1 class="center">Rediger {{ person.get('p_firstname') }}</h1>
	<form class="delta-form " method="POST" action="{{ path('ukm_delta_ukmid_pamelding_lagre_personinfo', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, p_id: p_id }) }}">
		<div class="form-group"> 
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Fornavn</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="fornavn" class="form-control" placeholder="" value="{{ person.get('p_firstname') is defined ? person.get('p_firstname') : '' }}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Etternavn</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="etternavn" class="form-control" placeholder="" value="{{ person.get('p_lastname') is defined ? person.get('p_lastname') : '' }}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Alder</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<select name="alder" class="form-control delta-select">
						<option value="" {{ (age is defined) and (age < 25) and (age > 9) ? '' : 'selected' }} disabled>Velg riktig alder</option> 
						{% for i in 10..25 %}
							<option value="{{ i }}" {{ (age is defined) and (age == i) ? 'selected' : '' }}>{{ i }} år</option> 
						{% endfor %}
							<option value="0">Over 25 år</option>
					</select>
					<span class="caret delta-caret"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Mobilnummer</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="mobil" class="form-control" placeholder="" value="{{ person.get('p_phone') is defined ? person.get('p_phone') : '' }}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>Instrument</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="instrument" class="form-control" placeholder="" value="{{ innslag['instrument'] is defined ? innslag['instrument'] : '' }}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<small class="delta-subtext left">Skriv inn hva {{ person.get('p_firstname') }} spiller/gjør (f.eks vokal, bass, gitar)</small>
				</div>
			</div>

			<button type="submit" class="btn btn-block btn-delta">Lagre</button>
			<p>&nbsp;</p>
			<a href="{{ path('ukm_delta_ukmid_pamelding_fjern_person', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, p_id: p_id }) }}" type="button" class="btn btn-danger btn-block btn-delta">Fjern person fra innslaget</a>
		</div>
	</form>

{% endblock %}