{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block content %}

	<div class="alert alert-danger col-xs-10 col-xs-offset-1">
		{{ 'statusAction.obs-topptekst'|trans }}
	</div>
	<p>&nbsp;</p>
	<div class="col-xs-12 delta-fat">
		<span class="">{{ 'statusAction.infotekst'|trans }}</span>
	
		<ul class="col-xs-12 list-unstyled">
			{% for tekst in grunner %}
				<li>- {{ ('statusAction.'~tekst)|trans }}</li>
			{% endfor %}
		</ul>
	</div>
	<p>&nbsp;</p>
	<div class="col-xs-12">		
		<a type="button" class="btn btn-block btn-delta" href="{{ path('ukmid_delta_ukmid_pamelding_musikk_innslag', { k_id: k_id, pl_id: pl_id, b_id: b_id }) }}">{{ 'statusAction.tilbakeknapp'|trans }}</a>
	</div>
	<p>&nbsp;</p>
	<div class="col-xs-12">
		<a type="button" class="btn btn-block btn-delta" href="{{ path('ukm_delta_ukmid_homepage') }}">{{ 'statusAction.videreknapp'|trans }}</a>
	</div>	

	<div class="">
		<span class="delta-subtext center">{{ 'statusAction.undertekst'|trans }}</span>
		<span class="delta-subtext center text-danger">{{ 'statusAction.obstekst'|trans({ '%dag%': frist.dag, '%maned%': frist.maned, '%time%': frist.time, '%minutt%': frist.minutt} ) }}</span>
	</div>
{% endblock %}