{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-0">Nesten ferdig!</h1>
                {% if innslag.erPameldt() and innslag.getMangler().getAntall() > 0 %}
                    <div class="alert alert-warning col-xs-10 col-xs-offset-1">
                        {{ 'statusAction.obs-men-ok-topptekst'|trans({'%innslag': innslag.getNavn()},'base') }}
                    </div>
                {% else %}
                    <div class="alert alert-danger col-xs-10 col-xs-offset-1">
                        {{ 'statusAction.obs-topptekst'|trans({'%innslag': innslag.getNavn() },'base') }}
                    </div>
                {% endif %}

                <label>{{ 'statusAction.infotekst'|trans({},'base') }}</label>
                <br/>
                {% include "UKMDeltaBundle:Innslag:mangler.html.twig" %}

                <p>
                    {{ 'statusAction.undertekst'|trans({},'base') }}
                    {{ 'statusAction.obstekst'|trans({ '%dato%': arrangement.getFrist( innslag.getType().getFrist() )|dato('l d.F \\k\\l. H:i')}, 'base') }}
                </p>
                <p class="mb-3">
                    <a class="btn btn-block btn-default btn-primary" href="{{ path('ukm_delta_ukmid_homepage') }}">
                        {{ 'statusAction.videreknapp'|trans({},'base') }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
