{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block content %}
	<h1 class="center">{{ 'technicalAction.overskrift'|trans }}</h1>

	<p class="lead">
		{{ 'technicalAction.ledetekst'|trans }}
	</p>
	<p class="">
		{{ 'technicalAction.forklaring'|trans }}
	</p>
	<form class="delta-form form-group" method="POST" action="{{ path('ukmid_delta_ukmid_pamelding_musikk_innslag_lagre_teknisk', { k_id: k_id, pl_id: pl_id, b_id: b_id}) }}">
		<div class="row">
			<div class="col-xs-12">
				<textarea rows="8" name="teknisk" placeholder="{{ 'technicalAction.placeholder_teknisk'|trans }}">{{ teknisk is defined ? teknisk : '' }}</textarea>
			</div>
		</div>
		<p>&nbsp;</p>
		<div class="col-xs-12">
			<button type="submit" class="btn btn-block btn-delta">{{ 'technicalAction.lagreknapp'|trans }}</button>
		</div>

		<div class="col-xs-12 center">
			<a href="{{ path('ukmid_delta_ukmid_pamelding_musikk_innslag', { k_id: k_id, pl_id: pl_id, b_id: b_id }) }}">{{ 'technicalAction.avbryttekst'|trans }}</a>
		</div>
	</form>
{% endblock %}
