<li class="list-group-item delta-type triggerLink click py-1">
    <div class="row">
        <div class="col-12 typeText" style="padding-top: .3em;">
            {% if type.erGruppe() %}
                <a href="{{ path('ukm_delta_ukmid_pamelding_v2_hvem', { k_id: kommune.getId(), pl_id: arrangement.getId(), type: type.getKey() }) }}" class="actionLink" id="type_{{ type.getKey() }}">{{ type.getNavn()|raw }}
                </a>
            {% else %}
                <a href="{{ path('ukm_delta_ukmid_pamelding_v2_opprett', { k_id: kommune.getId(), pl_id: arrangement.getId(), type: type.getKey(), hvem: "alene" }) }}" class="actionLink" id="type_{{ type.getKey() }}">{{ type.getNavn()|raw }}
                </a>
            {% endif %}
        </div>
    </div>
    {% if type.getId() == 'nettredaksjon' %}
        <div class="row">
            <div class="col-12">
                <small>{{ 'typeAction.forklaring.nettredaksjon'|trans }}</small>
            </div>
        </div>
    {% elseif type.getId() == 'arrangor' %}
        <div class="row">
            <div class="col-12">
                <small>{{ 'typeAction.forklaring.arrangor'|trans }}</small>
            </div>
        </div>
    {% endif %}
</li>
