{% extends "UKMDeltaBundle::layout.html.twig" %}

{% trans_default_domain translationDomain %}

{% block content %}
	<h1 class="center">{{ 'whoAction.sporsmal'|trans }}</h1>

	<div class="row">
		<a href="{{ path('ukm_delta_ukmid_pamelding_'~type~'_opprett', { k_id: k_id, pl_id: pl_id, hvem: 'alene' }) }}" class="btn btn-delta btn-primary btn-block">{{ 'whoAction.alene'|trans }}</a>
	</div>
		<p>&nbsp;</p>
	<div class="row">
		<a href="{{ path('ukm_delta_ukmid_pamelding_'~type~'_opprett', { k_id: k_id, pl_id: pl_id, hvem: 'sammen' }) }}" class="btn btn-delta btn-primary btn-block">{{ 'whoAction.sammen'|trans }}</a>
	</div>
		<p>&nbsp;</p>
	<div class="row">
		<a href="{{ path('ukm_delta_ukmid_pamelding_'~type~'_opprett', { k_id: k_id, pl_id: pl_id, hvem: 'kontakt' }) }}" class="btn btn-delta btn-primary btn-block">{{ 'whoAction.kontakt'|trans }}</a>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<p class="delta-subtext center">
				<small>
					{{ 'whoAction.forklaring'|trans }}
				</small>
			</p>
		</div>
		<div class="col-xs-1"></div>
	</div>

{% endblock %}