{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block scripts %}
	{{ parent() }}
	{% javascripts '@UKMDeltaBundle/Resources/public/js/tittel.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
	
{% block content %}
	{% if tittel is defined %}
		<h1 class="center">{{ 'tittel.overskrift.rediger'|trans( {'%tittel': tittel.tittel} ) }}</h1>
	{% else %}
		<h1 class="center">{{ 'tittel.overskrift.legg_til'|trans }}</h1>
	{% endif %}
	<form class="delta-form form-group" method="POST" action="{{ path('ukm_delta_ukmid_pamelding_innslag_lagre_ny_tittel', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
		<input type="hidden" name="innslagsnavn" value="{{ innslag.get('b_name') }}">
		<input type="hidden" name="t_id" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('t_id') : 'new' }}">
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>{{ 'tittel.tittel.label'|trans }}</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input type="text" required name="tittel" class="form-control" placeholder="{{ 'tittel.tittel.placeholder'|trans }}" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('tittel') : '' }}">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>{{ 'tittel.varighet.label'|trans }}</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{% include "UKMDeltaBundle:Tittel:varighet.html.twig" %}
			</div>
		</div>

		<p>&nbsp;</p>
		<button type="submit" class="btn btn-block btn-delta">{{ 'tittel.lagre'|trans }}</button>

		{% if tittel is defined %}
			<p>&nbsp;</p>
			<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_slett_tittel', {  k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, t_id: t_id }) }}" type="button" class="btn btn-block btn-delta btn-danger">{{ 'tittel.slett'|trans }}</a>
		{% endif %}
		<p>&nbsp;</p>
		<div class="col-xs-12 center">
				<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">{{ 'tittel.avbryt'|trans }}</a>
		</div>
	</form>

{% endblock %}