{% extends "UKMUserBundle::layout" ~ (renderWithoutLayout is defined and renderWithoutLayout == true ? '-without' : '') ~ ".html.twig" %}

{% block css %}
	{{ parent() }}
	<style>
.no-border-bottom-radius {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.no-border-top-radius {
	border-top-left-radius:0;
	border-top-right-radius:0;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
	{% if error and error.messageKey == 'Invalid credentials.' %}
		<div class="alert alert-danger">
			<h4>Feil mobilnummer / passord</h4>
			<p>
				Fant ingen bruker med det mobilnummeret og passordet. Har du glemt passordet?
				<br />
				<a href="{{ path('fos_user_resetting_request') }}">Klikk her for å få nytt passord</a>
			</p>
			<p>&nbsp;</p>
			<p>
				Hvis du ikke har en bruker, 
				<br />
				<a href="{{ path('fos_user_registration_register') }}">kan du opprette en UKM-bruker</a>
			</p>
		</div>
	{% elseif error %}
		<div class="alert alert-danger">
			<p>{{ error.messageKey|trans(error.messageData, 'FOSUserBundle') }}</p>
		</div>
	{% endif %}

</div>
{% if false %} {#(rdirurl is defined) and (rdirurl == 'ambassador') %}#}
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<p class="lead center">Etter innlogging blir du sendt tilbake til Ambassadør-siden</p>
		</div>
	</div>
{% endif %}
<div class="row">
	<div class="hidden-xs col-sm-4">
		<img src="http://ico.ukm.no/logginn-256.png" />
	</div>
	<div class="col-xs-12 col-sm-8 pull-right">
		<h1 class="center">UKMid <small>logg inn</small></h1>
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<input type="hidden" name="_rdirurl" value="{{ rdirurl is defined ? rdirurl : '' }}" />
			<input type="hidden" name="_rdirtoken" value="{{ rdirtoken is defined ? rdirtoken : '' }}" />
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				
			<a href="{{ facebookLoginURL }}" class="btn btn-block btn-facebook" type="button">Logg inn med facebook</a>
			<div class="text-hr"><span>eller</span></div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon no-border-bottom-radius" style="border-bottom:none;"><i class="glyphicon glyphicon-phone"></i></span>
				    <input class="form-control input-lg no-border-bottom-radius" type="tel" id="username" name="_username" value="{{ last_username }}" placeholder="Mobilnummer" required="required" style="border-bottom: 0px;" />
				</div>
				<div class="input-group">    
					<span class="input-group-addon no-border-top-radius"><i class="glyphicon glyphicon-lock"></i></span>
				    <input class="form-control input-lg no-border-top-radius" type="password" id="password" name="_password" placeholder="Passord" required="required" />
				</div>
			</div>
			
{#			<div class="form-group">		
			    <label for="remember_me">
			    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					Husk meg
				</label>
			</div>
#}
		    <input class="btn btn-block btn-success" type="submit" id="_submit" name="_submit" value="Logg inn" />
		</form>


		<p>&nbsp;</p>
		<p align="right">
			<small><a href="{{ path('fos_user_resetting_request') }}" class="" type="button">Glemt passord?</a></small>
		</p>
		<div class="clearfix"></div>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="hidden-xs">
			<div class="clearfix"></div>
			<div class="text-hr"></div>
			<div class="clearfix"></div>
		</div>
		<h1 class="center">UKMid <small>opprett bruker</small></h1>
		
		{# MOBILE #}
		<div class="visible-xs">
			<a href="{{ facebookLoginURL }}" class="btn btn-block btn-facebook col-xs-12 col-sm-6" type="button">Registrer deg med facebook</a>
			<a href="{{ url('fos_user_registration_register') }}" class="btn btn-block btn-success col-xs-12 col-sm-6" type="button">Registrer deg uten facebook</a>
		</div>
		{# SMALL AND UP #}
		<div class="hidden-xs">
			<div class="col-sm-6">
				<a href="{{ facebookLoginURL }}" class="btn btn-block btn-facebook" type="button">Registrer deg med facebook</a>
			</div>
			<div class="col-sm-6">
				<a href="{{ url('fos_user_registration_register') }}" class="btn btn-block btn-success col-xs-12 col-sm-6" type="button">Registrer deg uten facebook</a>
			</div>
		</div>



		<p>&nbsp;</p>
		<p class="xs-center">
			<a href="//{{ UKM_HOSTNAME }}">Avbryt, tilbake til {{ UKM_HOSTNAME }}</a>
		</p>

	</div>
</div>
{% endblock %}