{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMDeltaBundle/Resources/public/js/alder.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}

{% block delta_content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="lead">{{ 'checkInfoAction.topptekst'|trans }}	</p>
				
				<form class="" method="POST" action="{{ path('ukm_delta_ukmid_alder_save') }}">
					<div class="form-group">
						<label>{{ 'checkInfoAction.alder'|trans }}</label>
						<select name="age" required class="form-control" id="myageis">
							<option value="" {{ (age is defined) and (age < 25) and (age > 9) ? '' : 'selected' }} disabled>{{ 'checkInfoAction.alderVelger.Label'|trans }}</option> 
							{% for i in 10..24 %}
								<option value="{{ i }}" {{ (age is defined) and (age == i) ? 'selected' : '' }}>{{ i }} {{ 'checkInfoAction.alderVelger.aar'|trans( { "year": "now"|date("Y") - i } ) }}</option> 
							{% endfor %}
							<option value="0">{{ 'checkInfoAction.alderVelger.gammel'|trans }}</option>
						</select>
					</div>

                    <div id="foresatt" class="mt-4" style="display:none;">
                        <p class="lead">
                            {{ 'checkInfoAction.foresatt.forklaring'|trans }}
                        </p>

                        <div class="form-group">
						    <label for="foresatt_navn">{{ 'checkInfoAction.foresatt.navn'|trans }}</label>
                            <input class="form-control" type="text" name="foresatt_navn" id="foresatt_navn" />
                        </div>

                        <div class="form-group">
						    <label for="foresatt_mobil">{{ 'checkInfoAction.foresatt.mobil'|trans }}</label>
                            <input class="form-control" type="tel" name="foresatt_mobil" id="foresatt_mobil" maxlength="8" />
                        </div>
                    </div>

					<div class="form-group my-5">
						<button type="submit" class="btn btn-outline-primary btn-success btn-block center">{{ 'checkInfoAction.nesteLabel'|trans }}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}