{% extends "UKMDesignBundle::layout.html.twig" %}

{% block scripts %}
	{{ parent() }}
	{% javascripts '@UKMDeltaBundle/Resources/public/js/*' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
{% block content %}
	<h1 class="center">Hvor skal du melde deg på?</h1>
	
	<p>&nbsp;</p>
	
	<p class="lead center">
		Velg hvor du vil delta på UKM.
	</p>
	<!-- Søkefelt her -->
	<input type="text" class="form-control input-sm" name="filtrer" id="filterMonstringer" placeholder="Skriv her for å filtrere listen..." />
	<div id="lokalmonstringer">
	
		{% for fylke in monstringsliste %}
			<h4 id="header_{{ fylke.id }}" class="text-center">{{ fylke.name }}</h4>
			<ul data-fylke="{{ fylke.id }}" class="list list-unstyled list-group"> 
				{% for monstring in fylke.monstringer %}
						<li class="list-group-item" data-filter="{{ monstring.name }} {{ monstring.kommuner|join(' ') }} {{ fylke.name }}" >
						{% if monstring.fellesmonstring %}
							<a data-toggle="collapse" data-target="#box{{ monstring.id }}">
								{# Lag en div som kan utvides ved å trykkes på #}
								<div class="row">
									<div class="col-xs-9">
										{{ monstring.name }}
									</div>
									<div class="col-xs-3">
										<div>
											{% for kommuner in monstring.kommuner %}
												<small>{{ kommuner }}</small>
											{% endfor %}
										</div>
									</div>
								</div>
							</a>
							<div id="box{{ monstring.id }}" class="collapse row" style="padding-left: 30px">
								<div class="col-md-12">Hvilken kommune kommer du fra?</div>
								{% for key,kommune in monstring.kommuner %}
									<a href="{{ path('ukm_delta_ukmid_pamelding_hva', { k_id: key, pl_id: monstring.id }) }}"> 
										<div class="row">
											{{ kommune }} 
										</div>
									</a>
								{% endfor %}
							</div>
						{% else %}
							<a href="{{ path('ukm_delta_ukmid_pamelding_hva', { k_id: monstring.k_id, pl_id: monstring.id }) }}"> 
								<div class="row">
									<div class="col-md-9 col-xs-9">
										{{ monstring.name }}
									</div>
									<div class="col-md-3 col-xs-3">
									</div>
								</div>
							</a>
						{% endif %}

					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	
	</div>
{% endblock %}