{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% set showHero = false %}
{% set pameldingssys = true %}

{% block hero_title %}
	<h1>[Rolle],
		{{ 'indexAction.hei'|trans({'%name': user.getFirstName} ) }}</h1>
	<h3>{{ 'indexAction.ledetekst'|trans|nl2br }}</h3>
	<div class="background-space"></div>
{% endblock %}

{% block hero_button %}
	<div class="front-buttons">
		<a type="button" href="{{ path('ukm_delta_ukmid_checkinfo') }}" class="standard-btn btn-large d-flex justify-content-between btn-blue mt-2">
			<span>{{ 'indexAction.pameldinger.startny'|trans }}</span>
			{% include "UKMDesign/SVG/ChevronWhite.html.twig"%}
		</a>
	</div>

{% endblock %}

{% block delta_content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% embed "UKMDeltaBundle:FlashBag:list.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="delta-input-header">
				{% if alle_innslag|length == 0 %}
					<p>{{ 'indexAction.pameldinger.ingen'|trans }}</p>
				{% else %}
					<h3>{{ 'indexAction.pameldinger.fullforte'|trans }}</h3>
					<ul class="list list-group innslag">
						{% for innslag in alle_innslag.getAll()|filter(innslag => innslag.erPameldt() and not innslag.getHome().erFerdig()) %}
							{% include "UKMDeltaBundle:UKMID:innslag.html.twig" %}
						{% else %}
							{{ 'indexAction.pameldinger.ingen_fullforte'|trans }}
						{% endfor %}
					</ul>

					<h3>{{ 'indexAction.pameldinger.ikkefullforte'|trans }}</h3>
					<ul class="list list-group innslag">
						{% for innslag in alle_innslag.getAll()|filter( innslag => not innslag.erPameldt() and not innslag.getHome().erFerdig()) %}
							{% include "UKMDeltaBundle:UKMID:innslag.html.twig" %}
						{% else %}
							{{ 'indexAction.pameldinger.ingen_ikkefullforte'|trans }}
						{% endfor %}
					</ul>
				{% endif %}

			</div>
		</div>

		<div class="col-12">
			{{ render( controller('UKMDeltaBundle:DinSide:Extras') ) }}
		</div>
	</div>
</div>{% endblock %}
