{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block delta_content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% embed "UKMDeltaDesignBundle:FlashBag:list.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>

	<div class="container">	
		<div class="row">
			<div class="col-12">
				{# CONTENT #}
				<h1 class="mt-0">{{ 'indexAction.hei'|trans({'%name': user.getFirstName} ) }}</h1>
					
				<p class="lead">
					{{ 'indexAction.ledetekst'|trans|nl2br }}
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="delta-input-header"> 
                    {% if alle_innslag|length == 0 %}
                        <p>{{ 'indexAction.pameldinger.ingen'|trans }}</p>
                    {% else %}
                        <h3>{{ 'indexAction.pameldinger.fullforte'|trans }}</h3>
						<ul class="list list-group innslag">
                            {% for innslag in alle_innslag.getAll()|filter(innslag => innslag.erPameldt()) %}
                                {% include "UKMDeltaBundle:UKMID:innslag.html.twig" %}
                            {% else %}
                                {{ 'indexAction.pameldinger.ingen_fullforte'|trans }}
                            {% endfor %}
						</ul>

                        <h3>{{ 'indexAction.pameldinger.ikkefullforte'|trans }}</h3>
						<ul class="list list-group innslag">
                            {% for innslag in alle_innslag.getAll()|filter( innslag => not innslag.erPameldt()) %}
                                {% include "UKMDeltaBundle:UKMID:innslag.html.twig" %}
                            {% else %}
                                {{ 'indexAction.pameldinger.ingen_ikkefullforte'|trans }}
                            {% endfor %}
						</ul>
					{% endif %}
				</div>

				<form action="{{ path('ukm_delta_ukmid_checkinfo') }}">
					<button class="btn btn-block btn-outline-primary my-3" type="submit" value="{{ 'indexAction.pameldinger.startny'|trans }}" style="">{{ 'indexAction.pameldinger.startny'|trans }}</button>
				</form>	
			</div>

			<div class="col-12">
				{{ render( controller('UKMDeltaBundle:DinSide:Extras') ) }}
			</div>
		</div>
	</div>
{% endblock %}