{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block delta_content %}
{% stylesheets
	'@UKMDeltaBundle/Resources/public/css/home-page.css' %}
	<link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
{% endstylesheets %}

<!-- Main Header -->
<div class="container-fluid main-header-paamelding">
	<div class="inner">
		
		<div class="round-bottom-bolge">
			<div class="row ">
				<div class="col-6">
				</div>
				<div class="right-side-img col-6">
					<img class="bolge-img" src="https://assets.{{ UKM_HOSTNAME }}/img/delta-nytt/header-bolger.png" />
				</div>
				
				<div class="container header-content-paamelding">
					<div class="col-12 info">
						<h1 class="mt-0">{{ 'indexAction.hei'|trans({'%name': user.getFirstName} ) }}</h1>
						<p class="lead">
							{{ 'indexAction.ledetekst'|trans|nl2br }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Main Container -->
<div id="mainContainer" class="container">
	<div class="buttons-paamelding">
		<button class="round-style-button paamelding">
			<span class="text">Fortsett der du slapp</span>
			<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(216, 33%, 97%)">
				<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
			</svg>
		</button>
		<button class="round-style-button mini">
			<span class="">+</span>
		</button>
	</div>

	<div class="paameldinger fullforte">
		<h3 class="tittle">{{ 'indexAction.pameldinger.fullforte'|trans }}</h3>

		<div id="paameldingerFullforte">
			<!-- Flytt til en template fil -->
			<div class="paamelding-box">
				<div class="header-top">
					<div class="category-tittel">
						<div class="mini-label-style label">
							<span>Film</span>
						</div>
					</div>
					<div class="buttons">
						<button class="small-button-style mini">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: #fff; transform: ;msFilter:;"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>
						</button>
						<button class="small-button-style mini" id="#testBtnSlett">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="2.5 0 25 25" style="fill: #fff; transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
						</button>
					</div>
				</div>
				<div class="inner">
					<p class="description">Navn på gruppe</p>
					<h5 class="name nop col-6">Navn på bidrag som kan strekkes over 2 linjer</h5>
					<div class="members">
						<div class="avatars">
							<img class="avatar" src="https://assets.{{ UKM_HOSTNAME }}/img/delta-nytt/avatar-female.png" />
							<img class="avatar" src="https://assets.{{ UKM_HOSTNAME }}/img/delta-nytt/avatar-male.png" />
							<img class="avatar" src="https://assets.{{ UKM_HOSTNAME }}/img/delta-nytt/avatar-female.png" />
						</div>
						<div class="total">
							<span>3 medlemer</span>
						</div>
					</div>
				</div>
			</div>
			<!-- End flytt -->
		</div>

	</div>
	
</div>
	







<!--

	<div class="container">
		<div class="row">
			<div class="col-12">
				{% embed "UKMDeltaBundle:FlashBag:list.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>

	<div class="container">	
		<div class="row">
			<div class="col-12">
				{# CONTENT #}
				<h1 class="mt-0">{{ 'indexAction.hei'|trans({'%name': user.getFirstName} ) }}</h1>
					
				<p class="lead">
					{{ 'indexAction.ledetekst'|trans|nl2br }}
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="delta-input-header"> 
                    {% if alle_innslag|length == 0 %}
                        <p>{{ 'indexAction.pameldinger.ingen'|trans }}</p>
                    {% else %}
                        <h3>{{ 'indexAction.pameldinger.fullforte'|trans }}</h3>
						<ul class="list list-group innslag">
                            {% for innslag in alle_innslag.getAll()|filter(innslag => innslag.erPameldt() and not innslag.getHome().erFerdig()) %}
                                {% include "UKMDeltaBundle:UKMID:innslag.html.twig" %}
                            {% else %}
                                {{ 'indexAction.pameldinger.ingen_fullforte'|trans }}
                            {% endfor %}
						</ul>

                        <h3>{{ 'indexAction.pameldinger.ikkefullforte'|trans }}</h3>
						<ul class="list list-group innslag">
                            {% for innslag in alle_innslag.getAll()|filter( innslag => not innslag.erPameldt() and not innslag.getHome().erFerdig()) %}
                                {% include "UKMDeltaBundle:UKMID:innslag.html.twig" %}
                            {% else %}
                                {{ 'indexAction.pameldinger.ingen_ikkefullforte'|trans }}
                            {% endfor %}
						</ul>
					{% endif %}
				</div>

				<form action="{{ path('ukm_delta_ukmid_checkinfo') }}">
					<button class="btn btn-block btn-outline-primary my-3" type="submit" value="{{ 'indexAction.pameldinger.startny'|trans }}" style="">{{ 'indexAction.pameldinger.startny'|trans }}</button>
				</form>	
			</div>

			<div class="col-12">
				{{ render( controller('UKMDeltaBundle:DinSide:Extras') ) }}
			</div>
		</div>
	</div>

<button id="testBtnMeldPaa" k_id="5441" pl_id="3829" type="utstilling">Meldt på</button>
<button id="testBtnMeldAv">Meldt av</button>

<div class="col-xs-12">
	<button id="fjernInnslagBtn">Meldt av fra DeltaManager</button>
</div>

-->

<!-- One Page Templates -->
{% include "UKMDeltaBundle:OnePage:innslagOnePage.html.twig" %}


<script>
    // Initialization after the document is ready
$(document).ready(function() {

    var removeInnslag = async (e, response, ukmOnePage, otherData) => {
        var el = $(e.currentTarget);
        var mainDiv = $($(el).parent().parent().parent());

        ukmOnePage.fadeElementDOM(mainDiv);

        try{
            var res = await response;
            ukmOnePage.removeElementFromDOM(mainDiv);
        }catch(err) {
            // Error
            console.error(err);
        }
    };

    var addInnslag = async (e, response, ukmOnePage, otherData) => {
        var el = $('.list.innslag');

        try{
            var res = await response;
            ukmOnePage.appendHTML(el, innslagTemplate(res.navn));
        }catch(err) {
            // Error
            console.error(err);
        }

    };

    var eventElements = [];

    eventElements.push(
        removeInnslag = new EventElement('.fjern-innslag-btn', 'click', removeInnslag, 'remove_innslag', 'POST', ['pl_id', 'b_id'], [])
    );

    eventElements.push(
        removeInnslag = new EventElement('#testBtnMeldPaa', 'click', addInnslag, 'new_innslag', 'POST', ['k_id', 'pl_id', 'type'], [])
    );
    
    if(typeof variable === 'undefined') {
        const deltaOnePage = new DeltaOnePage('/app_dev.php/api/', eventElements);
    }
    
	// alert('c');
	// $(window).on('load', () => {
    // 	alert('a');
	// })

	$("#testBtnSlett").click(function () {
		
	});
});
</script>
{% endblock %}