{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}
	{# CONTENT #}
	<h1 class="center">Hei {{ user.getFirstName }}!</h1>
	
	<p>&nbsp;</p>
	
	<p class="lead center">
		Du er nå logget inn på din side.
		<br />
		Her velger du hva du skal delta med på UKM.
	</p>

	<div class="text-center delta-header">
  		<h1 class="page-header">Dine påmeldinger</h1>
	</div>

	<div class="delta-input-header"> 
		<!-- List opp påmeldinger eller si fra at det ikke finnes noen påmeldinger her -->
		{% if innslag is defined and innslag is not empty %}
			<span class="delta-fat">Fullførte påmeldinger</span>
			<ul class="list list-unstyled list-group">
				{% for event in innslag %}
					{% if event.info.b_status == 8 %}
						<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: event.info.b_kommune, pl_id: pl_id[loop.index-1], type: type[loop.index-1], b_id: event.info.b_id }) }}">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-6">
										{{ event.info.b_name }}
									</div>
									<div class="col-xs-3 text-right">
										{{ event.info.kategori|capitalize }}
									</div>
									<div class="col-xs-3">
										rediger 
									</div>
								</div>
							</li>
						</a>
					{% endif %}
				{% endfor %}
			</ul>
			<span class="delta-fat">Ikke fullførte påmeldinger</span>
			<ul class="list list-unstyled list-group">
				{% for event in innslag %}
					{% if event.info.b_status != 8 %}
						<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: event.info.b_kommune, pl_id: pl_id[loop.index-1], type: type[loop.index-1], b_id: event.info.b_id }) }}">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-6">
										{{ event.info.b_name }}
									</div>
									<div class="col-xs-3 text-right">
										{{ event.info.kategori|capitalize }}
									</div>
									<div class="col-xs-3">
										rediger
									</div>
								</div>
							</li></a>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			<p>Du har ingen påmeldinger enda.
			</p>
		{% endif %}
		
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<form action="{{ path('ukm_delta_ukmid_checkinfo') }}">
					<button class="btn btn-block btn-delta" type="submit" value="Start ny påmelding" style=""/>Start ny påmelding</button>
				</form>	
			</div>
		</div>
	</div>
	
{% endblock %}