{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% embed "UKMDeltaDesignBundle:FlashBag:list.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>

	<div class="container">	
		<div class="row">
			<div class="col-12">
				{# CONTENT #}
				<h1 class="mt-0">{{ 'indexAction.hei'|trans({'%name': user.getFirstName} ) }}</h1>
					
				<p class="lead">
					{{ 'indexAction.ledetekst'|trans|nl2br }}
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="delta-input-header"> 
					<!-- List opp påmeldinger eller si fra at det ikke finnes noen påmeldinger her -->
					{% if alle_innslag.fullstendig is not empty %}
						<h3>{{ 'indexAction.pameldinger.fullforte'|trans }}</h3>
						
						<ul class="list list-group innslag">
							{% for status, innslag in alle_innslag.fullstendig %}
								{% embed "UKMDeltaBundle:UKMID:innslag.html.twig" %}{% endembed %}
							{% endfor %}
						</ul>
					{% endif %}
			
					{% if alle_innslag.ufullstendig is not empty %}
						<h3>{{ 'indexAction.pameldinger.ikkefullforte'|trans }}</h3>
						<ul class="list list-group innslag">
							{% for status, innslag in alle_innslag.ufullstendig %}
								{% embed "UKMDeltaBundle:UKMID:innslag.html.twig" %}{% endembed %}
							{% endfor %}
						</ul>
					{% endif %}
			
					{% if alle_innslag.ufullstendig is empty and alle_innslag.fullstendig is empty %}
						<p>{{ 'indexAction.pameldinger.ingen'|trans }}</p>
					{% endif %}
				</div>


				<form action="{{ path('ukm_delta_ukmid_checkinfo') }}">
					<button class="btn btn-block btn-outline-primary my-3" type="submit" value="{{ 'indexAction.pameldinger.startny'|trans }}" style="">{{ 'indexAction.pameldinger.startny'|trans }}</button>
				</form>	
			</div>

			<div class="col-12">
				{{ render( controller('UKMDeltaBundle:DinSide:Extras') ) }}
			</div>
		</div>
	</div>
{% endblock %}