{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block content %}
	<h1 class="center">{{ 'checkInfoAction.overskrift'|trans }}</h1>
	<p>&nbsp;</p>
	<p class="lead center">
		{{ 'checkInfoAction.topptekst'|trans }}
	</p>
	<form class="" method="POST" action="{{ path('ukm_delta_ukmid_verifyInfo') }}">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>{{ 'checkInfoAction.adresse'|trans }}</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="address" class="form-control" placeholder="" value="{{ user.address is defined ? user.address : '' }}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>{{ 'checkInfoAction.postnummer'|trans }}</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="postNumber" class="form-control" placeholder="" value="{{ user.post_number is defined ? user.post_number : '' }}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>{{ 'checkInfoAction.poststed'|trans }}</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<input type="text" name="postplace" class="form-control" placeholder="" value="{{ user.post_place is defined ? user.post_place : '' }}"> 
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 delta-input-header">
					<small>{{ 'checkInfoAction.alder'|trans }}</small>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<select name="age" class="form-control">
						<option value="" {{ (age is defined) and (age < 25) and (age > 9) ? '' : 'selected' }} disabled>{{ 'checkInfoAction.alderVelger.Label'|trans }}</option> 
						{% for i in 10..25 %}
							<option value="{{ i }}" {{ (age is defined) and (age == i) ? 'selected' : '' }}>{{ i }} {{ 'checkInfoAction.alderVelger.aar'|trans }}</option> 
						{% endfor %}
							<option value="0">{{ 'checkInfoAction.alderVelger.gammel'|trans }}</option>
					</select>
				</div>
			</div>
			<br /> 
			<div class="row">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-delta btn-default btn-block center">{{ 'checkInfoAction.nesteLabel'|trans }}</button>
				</div>
			</div>
		</div>
	</form>

{% endblock %}