{% trans_default_domain translationDomain %}

{% set pamelding_apen = innslag.getHome().erPameldingApen( innslag.getType().getFrist() ) %}

{% set link_target = path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: innslag.getKommune().getId(), pl_id: innslag.getHome().getId(), type: innslag.getType().getKey(), b_id: innslag.getId() }) %}

<li class="list-group-item {{ pamelding_apen ? 'clickLinkWithin click' }}">
    <div class="row">
        <div class="col-9">
            {% if pamelding_apen %}
                <a href="{{ link_target }}" class="linkWithin">{{ innslag.getNavn() }}</a>
            {% else %}
                {{ innslag.getNavn() }}
            {% endif %}
            <small>
                {{ innslag.getType().getNavn() }} 
                | 
                {{ innslag.getHome().getNavn() }}
            </small>
            {# TODO: implementer nominasjon! #}
            {# https://github.com/UKMNorge/UKMapi/issues/41 #}
            {#% if innslag.getNominasjon( 'land' ).har() and innslag.innslag.getNominasjon('land').harDeltakerskjema() %}
                <br />
                <label class="badge badge-success" style="font-weight:normal">Nominasjonsskjema er sendt inn (#{{ innslag.innslag.getNominasjon('land').getId() }})</label>
            {% endif %#}
            
        </div>

        <div class="col-3 right px-0">
            {% if pamelding_apen %}
                <a href="{{ link_target }}" class="btn btn-block btn-sm btn-outline-primary autoshrink">{{ 'indexAction.rediger'|trans }}</a>
            {% endif %}
            {% if innslag.getType().getKey() in ["nettredaksjon", "media"] %}
                <a href="{{ path('ukm_delta_ukmid_wordpress_connect')}}" class="btn btn-block btn-sm btn-outline-primary autoshring">logg inn på arrangørside</a>
            {% endif %}
            {% if pamelding_apen %}
                <a href="{{ path('ukm_delta_ukmid_meld_av', { k_id: innslag.getKommune().getId(), pl_id: innslag.getHomeId(), type: innslag.getType().getKey(), b_id: innslag.getId() }) }}" class="btn btn-block btn-sm btn-danger actionLink autoshrink">{{ 'indexAction.avmeld'|trans }}</a>
            {% else %}
                <i class="center small">{{ 'indexAction.last'|trans|nl2br }}</i>
            {% endif %}       
        </div>
    </div>
</li>