{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMDeltaBundle/Resources/public/js/personvern.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% embed "UKMDeltaDesignBundle:FlashBag:list.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>

	<div class="container">	
		<div class="row">
			<div class="col-12">
				{# CONTENT #}
                <h2>{{ 'personvernAction.media.overskrift'|trans }}</h2>
				<p class="lead">{{ 'personvernAction.media.ingress'|trans }}</p>
					
				<p>
				    <b>{{ 'personvernAction.versjon.kort'|trans }}</b>{{ 'personvernAction.media.kort'|trans|nl2br }}
				</p>
				
				<p class="right">
					<a href="#" class="btn btn-outline-secondary btn-sm">{{ 'personvernAction.versjon.lang'|trans|nl2br }}</a>
				</p>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				{# CONTENT #}
                <h2>{{ 'personvernAction.datalagring.overskrift'|trans }}</h2>
				<p class="lead">{{ 'personvernAction.datalagring.ingress'|trans }}</p>					
				<p>
				    <b>{{ 'personvernAction.versjon.kort'|trans }}</b>{{ 'personvernAction.datalagring.kort'|trans|nl2br }}
				</p>
				
				<p class="right">
					<a href="#" class="btn btn-outline-secondary btn-sm">{{ 'personvernAction.versjon.lang'|trans|nl2br }}</a>
				</p>
				
			</div>
		</div>
		
		
        <div class="row">
			<div class="col-12">
                <h2>Fortsett påmelding</h2>
				<form action="{{ url('ukm_delta_ukmid_checkpersonvern') }}" method="POST" autocomplete="off">
				
					<div class="form-group">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="personvern" value="ja" required />
								{{ 'personvernAction.action.ja'|trans }}
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="personvern" value="nei" required />
								{{ 'personvernAction.action.nei'|trans }}
							</label>
						</div>
					</div>

                    <div id="forklaring_personvern_nei" class="mt-4" style="display:none;">
                        <h2>
                            {{ 'personvernAction.media.nei.overskrift'|trans }}
                        </h2>
                        
                        <p>
                            <b>{{ 'personvernAction.media.nei.obs'|trans }}</b>{{ 'personvernAction.media.nei.kort'|trans|nl2br }}
                        </p>
                        
                        <p class="right">
                            <a href="#" class="btn btn-outline-secondary btn-sm">{{ 'personvernAction.versjon.lang'|trans|nl2br }}</a>
                        </p>

                        <div class="clearfix"></div>
                    </div>
					
					<button type="submit" class="btn btn-submit btn-outline-primary">{{ 'personvernAction.action.knapp'|trans }}</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}