{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}
	
{% block delta_content%}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mt-0">
					{{ 'supportAction.overskrift'|trans }}
				</h1>
			
				<p class="lead">
					{{ 'supportAction.topptekst'|trans|nl2br }}
				</p>
			
				<p>
					{{ 'supportAction.support'|trans|nl2br }}
				</p>
				
				<p class="mt-5 center">
					<a href="{{ path('ukm_delta_ukmid_homepage') }}">{{ 'supportAction.hjem'|trans }}</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}