{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block scripts %}
	{{ parent() }}
	{% javascripts '@UKMDeltaBundle/Resources/public/js/tittel.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
	
{% block content %}
	{% if tittel.tittel is defined %}
		<h1 class="center">Endre tittel</h1>
	{% else %}
		<h1 class="center">Legg til tittel</h1>
	{% endif %}
	<form class="delta-form form-group" method="POST" action="{{ path('ukm_delta_ukmid_pamelding_innslag_lagre_ny_tittel', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
		<input type="hidden" name="innslagsnavn" value="{{ innslag.get('b_name') }}">
		<input type="hidden" name="t_id" value="{{ tittel.get('t_id') > 0 ? tittel.get('t_id') : 'new' }}">
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Tittel</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input type="text" name="tittel" class="form-control" placeholder="Eks. Skyfall, I will survive..." value="{{ tittel.get('t_id') > 0 ? tittel.get('tittel') : '' }}">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Lengde</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<select name="lengde" class="form-control">
					<option value="0" 
						{% if tittel.varighet is not defined %}
							selected
						{% endif %} 
						disabled>Velg lengde på innslaget</option>
					{% for i in 0..60 %}
						<option value="{{ i * 10 }}" 
							{% if tittel.varighet is defined %}
								{% if tittel.varighet == i * 10 %}
									selected
								{% endif %}
							{% endif %}
							>
							{% if (i / 6)|round(0, 'floor') < 1 %}
								{{ (i % 6) * 10 }} sek</option>
							{% else %}
								{{ (i / 6)|round(0, 'floor') }} min{% if ((i % 6) * 10 ) != 0 %}, {{ (i % 6) * 10 }} sek</option>
								{% endif %}
							{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>Har du/dere laget dansen selv?</small>
			</div>
		</div>
		<div class="col-xs-12"  id="melodi-valg" >
			<label class="radio-inline"><input type="radio" name="selvlaget" value="1">Ja</label>
			<label class="radio-inline"><input type="radio" name="selvlaget" value="0" checked>Nei</label>
		</div>
		<div class="row" id="tekst-rad">
			<div class="col-xs-12 delta-input-header">
				<small>Koreografi av</small>
			</div>
			<div class="col-xs-12">
				<input type="text" name="tekstforfatter" class="form-control" placeholder="" value="{{ tittel.get('t_id') > 0 ? tittel.get('tekst_av') : '' }}">
			</div>
		</div>
		<div class="row" id="melodi-rad">
			<div class="col-xs-12 delta-input-header">
				<small>Melodi av</small>
			</div>
			<div class="col-xs-12">
				<input type="text" name="melodiforfatter" class="form-control" placeholder="" value="{{ tittel.get('t_id') > 0 ? tittel.get('melodi_av') : '' }}">
			</div>
		</div>
		<p>&nbsp;</p>
		<button type="submit" class="btn btn-block btn-delta">Lagre</button>

		{% if tittel.get('t_id') > 0 %}
			<p>&nbsp;</p>
			<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_slett_tittel', {  k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, t_id: t_id }) }}" type="button" class="btn btn-block btn-delta btn-danger">Slett tittel</a>
		{% endif %}
		<p>&nbsp;</p>
		<div class="col-xs-12 center">
				<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">avbryt</a>
		</div>
	</form>

{% endblock %}