{% extends "UKMDeltaBundle:Tittel:skjema.html.twig" %}
{% trans_default_domain translationDomain %}

{% block form_body %}
	{{ parent() }}
	<div class="form-group">
		<label>{{ 'tittel.selvlaget.label'|trans }}</label>
	</div>

	<div class="form-group" id="koreografi-valg" >
		<label class="radio-inline">
			<input type="radio" name="selvlaget" value="1" />
			{{ 'ja'|trans({}, 'base') }}
		</label>
		<label class="radio-inline">
			<input type="radio" name="selvlaget" value="0" checked />
			{{ 'nei'|trans({}, 'base') }}
		</label>
	</div>
	
	<div class="form-group" id="koreografi-rad">
		<label>{{ 'tittel.koreografi.label'|trans }}</label>
		<input type="text" required name="koreografi" class="form-control" placeholder="{{ 'tittel.koreografi.placeholder'|trans }}" value="{{ tittel is defined ? tittel.get('koreografi') : '' }}" />
	</div>
{% endblock %}