{% extends "UKMDeltaBundle:Tittel:skjema.html.twig" %}
{% trans_default_domain translationDomain %}

{% block form_body %}
	{{ parent() }}
	<div class="row">
		<div class="col-xs-12 delta-input-header">
			<small>{{ 'tittel.selvlaget.label'|trans }}</small>
		</div>
	</div>
	<div class="col-xs-12" id="koreografi-valg" >
		<label class="radio-inline"><input type="radio" name="selvlaget" value="1">{{ 'ja'|trans({}, 'base') }}</label>
		<label class="radio-inline"><input type="radio" name="selvlaget" value="0" checked>{{ 'nei'|trans({}, 'base') }}</label>
	</div>
	<div class="row" id="koreografi-rad">
		<div class="col-xs-12 delta-input-header">
			<small>{{ 'tittel.koreografi.label'|trans }}</small>
		</div>
		<div class="col-xs-12">
			<input type="text" required name="koreografi" class="form-control" placeholder="{{ 'tittel.koreografi.placeholder'|trans }}" value="{{ tittel is defined ? tittel.get('koreografi') : '' }}">
		</div>
	</div>
{% endblock %}