{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block scripts %}
	{{ parent() }}
	{% javascripts '@UKMDeltaBundle/Resources/public/js/innslag.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}

{% block content %}

	<div class="form-group delta-form">
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>{{ 'overviewAction.artistnavn.label'|trans }}</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input type="text" name="navn" class="form-control" placeholder="{{ 'overviewAction.artistnavn.placeholder'|trans }}, {{ user.getFirstName() }} {{ user.getLastName() }}..." value="{{ innslag.b_name is defined ? innslag.b_name : '' }}"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 delta-input-header">
				<small>{{ 'overviewAction.beskrivelse.label'|trans }}</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<textarea name="beskrivelse" rows="3" class="form-control" placeholder="{{ 'overviewAction.beskrivelse.placeholder'|trans }}"></textarea>
			</div>
		</div>
		<br>
		{# PERSONER #}
		<div class="row {{ personer|length == 0 ? 'inactiveSummaryDetailsList' : 'summaryDetailsList' }}">
			<div class="trigger click">
				<div class="col-xs-12 delta-input-header">
					<span>{{ 'overviewAction.personer.overskrift'|trans }}</span>{% if personer|length > 0 %}<small class="right edit">{{ 'overviewAction.personer.endre'|trans }}</small>{% endif %}
				</div>
				<hr />
				<div class="summary col-xs-12 delta-list"> 
					<span>
						{% for person in personer %}
							{{ loop.first ? '' : ', ' }}
								{{ person.p_firstname is defined ? person.p_firstname : '' }} 
								{{ person.p_lastname is defined ? person.p_lastname : '' }} 
								<small>({{ person.age is defined ? person.age~', ' : ''}}
								{% if (person.instrument is defined) and not ( person.instrument is empty) %}
									{{ person.instrument }}
								{% else %}<span class="text-danger">{{ 'overviewAction.personer.person.rolle_ukjent'|trans }}</span>{% endif %})</small>				{% else %}
							{{ 'overviewAction.personer.ingen'|trans }}
						{% endfor %}
					</span>
				</div>
			</div>
			<div class="details col-xs-12">
				<div id="deltakerliste" class="delta-list">
					{% for person in personer %}
						<ul class="list-unstyled">
							<li class="row click triggerLink">
								<div class="col-xs-2">
									<div class="overunder">
										{% if person.age is defined %}
											<div class="over">{{ person.age }}</div>
											<div class="under">{{ 'overviewAction.personer.person.ar'|trans }}</div>
										{% else %}
											<div class="over">?</div>
											<div class="under">{{ 'overviewAction.personer.person.ar'|trans }}</div>
										{% endif %}
									</div>
								</div>
								<div class="col-xs-7">
									<p style="line-height:1em">
										{{ person.p_firstname is defined ? person.p_firstname : '' }} {{ person.p_lastname is defined ? person.p_lastname : '' }}
										<br />
										<small>
											{% if (person.instrument is defined) and not ( person.instrument is empty) %}
												{{ person.instrument }}
											{% else %}
												<span class="text-danger">{{ 'overviewAction.personer.person.rolle_ukjent'|trans }}</span>
											{% endif %}
										</small>
									</p>
								</div>
								<div class="col-xs-3">
									<a href="{{ path('ukmid_delta_ukmid_pamelding_musikk_alene_personinfo', { k_id: k_id, pl_id: pl_id, b_id: b_id, p_id: person.p_id } ) }}" class="actionLink" id="editP{{ person.p_id }}">{{ 'overviewAction.personer.person.rediger'|trans }}</a>
								</div>
							</li>
						</ul>
					{% endfor %}
					<div class="clearfix"></div>
					<div class="col-xs-12">
						<a type="button" class="btn btn-block btn-delta" href="{{ path('ukmid_delta_ukmid_pamelding_musikk_ny_person', {k_id: k_id, pl_id: pl_id, b_id: b_id }) }}">{{ 'overviewAction.personer.legg_til'|trans }}</a>
					</div>
					<p>&nbsp;</p>
					<p class="center">
						<a class="list-close" href="#">{{ 'overviewAction.personer.lukk_listen'|trans }}</a>
					</p>
				</div>
			</div>
			
			{% if personer|length < 1 %} 
				<div class="row">
					<div class="col-xs-12">
						<a type="button" class="btn btn-block btn-delta" href="{{ path('ukmid_delta_ukmid_pamelding_musikk_ny_person', {k_id: k_id, pl_id: pl_id, b_id: b_id }) }}">{{ 'overviewAction.personer.legg_til'|trans }}</a>
					</div>
				</div>
			{% endif %}
		</div>
		<p>&nbsp;</p>
		
		
		{# TITLER #}
		<div class="row {{ titler|length == 0 ? 'inactiveSummaryDetailsList' : 'summaryDetailsList' }}">
			<div class="trigger click">
				<div class="col-xs-12 delta-input-header">
					<span>{{ 'overviewAction.titler.overskrift'|trans }}</span>{% if titler|length > 0 %}<small class="right edit">{{ 'overviewAction.titler.endre'|trans }}</small>{% endif %}
				</div>
				<hr />
				<div class="summary col-xs-12 delta-list"> 
					<span>
						{% for tittel in titler %}
							{{ loop.first ? '' : ', ' }}
							{{ tittel.tittel is defined ? tittel.tittel : '' }} 
						{% else %}
							{{ 'overviewAction.titler.ingen'|trans }}
						{% endfor %}
					</span>
				</div>
			</div>
			<div class="details col-xs-12">
				<div id="deltakerliste" class="delta-list">
					{% for tittel in titler %}
						<ul class="list-unstyled">
							<li class="row click triggerLink">
								<div class="col-xs-2">
									<div class="overunder">
										{% if tittel.varighet is defined %}
											<div class="over">xx {{ 'overviewAction.titler.tittel.min'|trans }}</div>
											<div class="under">xx {{ 'overviewAction.titler.tittel.sek'|trans }}</div>
										{% else %}
											<div class="over">? {{ 'overviewAction.titler.tittel.min'|trans }}</div>
											<div class="under">? {{ 'overviewAction.titler.tittel.sek'|trans }}</div>
										{% endif %}
									</div>
								</div>
								<div class="col-xs-7">
									<p style="line-height:1em">
										{{ tittel.tittel is defined ? tittel.tittel : '' }}
										<br />
										<small>
											{% if tittel.type is defined and not tittel.type is empty %}
												{{ tittel.type }}
											{% else %}
												<span class="text-danger">{{ 'overviewAction.titler.tittel.info_mangler'|trans }}</span>
											{% endif %}
										</small>
									</p>
								</div>
								<div class="col-xs-3">
									<a href="javascript:alert('Coming');" class="actionLink" id="editT{{ tittel.t_id }}">{{ 'overviewAction.titler.tittel.rediger'|trans }}</a>
								</div>
							</li>
						</ul>
					{% endfor %}
					<div class="clearfix"></div>
					<div class="col-xs-12">
						<a type="button" class="btn btn-block btn-delta" href="javascript:alert('Coming');">{{ 'overviewAction.titler.legg_til'|trans }}</a>
					</div>
					<p>&nbsp;</p>
					<p class="center">
						<a class="list-close" href="#">{{ 'overviewAction.titler.lukk_listen'|trans }}</a>
					</p>
				</div>
			</div>
			
			{% if titler|length == 0 %} 
				<div class="row">
					<div class="col-xs-12">
						<a type="button" class="btn btn-block btn-delta" href="javascript:alert('Coming');">{{ 'overviewAction.titler.legg_til'|trans }}</a>
					</div>
				</div>
			{% endif %}
		</div>
		<p>&nbsp;</p>
		<div class="row">
			<a href="">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-block btn-delta">{{ 'overviewAction.lagre'|trans }}</button>
				</div>
			</a>
		</div>
	</div>

{% endblock %}
