{% extends "UKMDeltaDesignBundle::layout.html.twig" %}
{% block sectionNav %}
	{% if app.user %}{# Kun vis denne om brukeren er innlogget #}
		<div class="row sitemap">
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 section">
				<h2 class="header">
					Påmelding (UKMID)
				</h2>
				<ul class="list-unstyled pages">
					<li>
						{% if not dinside is defined %}
							<a href="{{ path('ukm_delta_ukmid_homepage') }}" class="this-is-js">
								{{ 'meny.dinside'|trans({}, 'base') }}
							</a>
						{% endif %}
					</li>
					<li>
						<a href="{{ path('ukm_delta_ukmid_contact') }}" class="this-is-js">
							{{ 'meny.rediger'|trans({}, 'base') }}
						</a>
					</li>
					<li>
						<a href="{{ path('fos_user_change_password') }}" class="this-is-js">
							{{ 'meny.passord'|trans({}, 'base') }}
						</a>
					</li>
					{% if (app.user and (app.user.getFacebookId() == null) ) %}
						<li>
							<a href="{{ path('ukm_fb_connect') }}" class="this-is-js">
								{{ 'meny.fbconnect'|trans({}, 'base') }}
							</a>
						</li>
					{% endif %}
					{% if "now"|date('m') < 8 and "now"|date('m') > 3 %}
						<li>
							<a href="{{ path('ukm_sjekk_create') }}" class="this-is-js">
								{{ 'meny.sjekk'|trans({}, 'base') }}
							</a>
						</li>
					{% endif %}
					<li>
						<a href="http://ambassador.{{ UKM_HOSTNAME }}" class="this-is-js">
							{{ 'meny.ambassador'|trans({}, 'base') }}
						</a>
					</li>
					<li>
						<a href="{{ path('ukm_delta_ukmid_support') }}" class="this-is-js">
							{{ 'meny.support'|trans({}, 'base') }}
						</a>
					</li>
					<li>
						<a href="{{ path('fos_user_security_logout') }}" class="this-is-js">
							{{ 'meny.loggut'|trans({}, 'base') }}
						</a>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}