{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@UKMDeltaBundle/Resources/public/js/tittel.js' %}
		<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
	
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% block form_header %}
					{% if tittel is defined %}
						<h1 class="mt-0">{{ 'tittel.overskrift.rediger'|trans( {'%tittel': tittel.tittel} ) }}</h1>
					{% else %}
						<h1 class="mt-0">{{ 'tittel.overskrift.legg_til'|trans }}</h1>
					{% endif %}	
					<form class="delta-form form-group" method="POST" action="{{ path('ukm_delta_ukmid_pamelding_innslag_lagre_ny_tittel', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
				{% endblock form_header %}
				
				{% block form_body %}
					<input type="hidden" name="innslagsnavn" value="{{ innslag.get('b_name') }}" />
					<input type="hidden" name="t_id" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('t_id') : 'new' }}" />
					<div class="form-group">
						<label>{{ 'tittel.tittel.label'|trans }}</label>
						<input type="text" required name="tittel" class="form-control" placeholder="{{ 'tittel.tittel.placeholder'|trans }}" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('tittel') : '' }}" />
					</div>
			
					<div class="form-group">
						<label>{{ 'tittel.varighet.label'|trans }}</label>
						{% include "UKMDeltaBundle:Tittel:varighet.html.twig" %}
					</div>
				{% endblock form_body %}
				
				{% block form_footer %}
					<p class="mt-3">
						<button type="submit" class="btn btn-block btn-outline-primary btn-success">{{ 'tittel.lagre'|trans }}</button>
					</p>
					{% if tittel is defined %}
						<p>
							<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_slett_tittel', {  k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, t_id: t_id }) }}" class="btn btn-block btn-danger btn-sm">
								{{ 'tittel.slett'|trans }}
							</a>
						</p>
					{% endif %}
					
					<p class="center">
						<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
							{{ 'tittel.avbryt'|trans }}
						</a>
					</p>
					</form>
				{% endblock form_footer %}
			</div>
		</div>
	</div>
{% endblock %}