{% extends "UKMDeltaBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@UKMDeltaBundle/Resources/public/js/tittel.js' %}
		<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}
	
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% block form_header %}
                    {# REDIGER TITTEL #}
					{% if tittel is defined %}
						<h1 class="mt-0">{{ 'tittel.overskrift.rediger'|trans({'%tittel': tittel.getTittel()},'base') }}</h1>
					{# LEGG TIL TITTEL #}
                    {% else %}
						<h1 class="mt-0">{{ 'tittel.overskrift.legg_til'|trans({'%entall': type.getTekst('titler.entall')},'base') }}</h1>
					{% endif %}	
					<form class="delta-form form-group" method="POST" action="{{ path('ukm_delta_ukmid_pamelding_innslag_lagre_ny_tittel', { k_id: k_id, pl_id: pl_id, type: type_key, b_id: b_id }) }}">
				{% endblock form_header %}
				
				{% block form_body %}
					<input type="hidden" name="innslagsnavn" value="{{ innslag.getNavn() }}" />
					<input type="hidden" name="t_id" value="{{ tittel is defined ? tittel.getId() : 'new' }}" />

                    {# TITTEL #}
					<div class="form-group">
						<label>{{ 'tittel.tittel.label'|trans({'%bestemt': type.getTekst('titler.bestemt')|capitalize},'base') }}</label>
						<input type="text" required name="tittel" class="form-control" placeholder="{{ type.getTekst('titler.placeholder') }}" value="{{ tittel is defined ? tittel.getTittel() : '' }}" />
					</div>
			
                    {# VARIGHET #}
					<div class="form-group">
						<label>{{ 'tittel.varighet.label'|trans({},'base') }}</label>
						{% include "UKMDeltaBundle:Tittel:varighet.html.twig" %}
					</div>
				{% endblock form_body %}
				
				{% block form_footer %}
					<p class="mt-3">
						<button type="submit" class="btn btn-block btn-outline-primary btn-success">{{ 'tittel.lagre'|trans({},'base') }}</button>
					</p>
					{% if tittel is defined %}
						<p>
							<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_slett_tittel', {'k_id': k_id, 'pl_id': pl_id, 'type': type_key, 'b_id': b_id, 't_id': tittel.getId() }) }}" class="btn btn-block btn-danger btn-sm">
								{{ 'tittel.slett'|trans({'%entall' : type.getTekst('titler.entall')},'base') }}
							</a>
						</p>
					{% endif %}
					
					<p class="center">
						<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', {'k_id': k_id, 'pl_id': pl_id, 'type': type_key, 'b_id': b_id }) }}">
							{{ 'avbryt'|trans({},'base') }}
						</a>
					</p>
					</form>
				{% endblock form_footer %}
			</div>
		</div>
	</div>
{% endblock %}