{% trans_default_domain translationDomain %}
<label>{{ 'overviewAction.titler.overskrift'|trans }}</label>

<ul class="list-group">
	{% for tittel in titler %}
		<li class="list-group-item click triggerLink">
			<div class="row">
				{% if translationDomain != 'utstilling' %}
					<div class="col-2 px-0">
						<div class="overunder">
							{% if tittel.varighet is defined %}
								<div class="over">{{ (tittel.varighet / 60)|round(0, 'floor') }} {{ 'tittel.varighet.min'|trans({}, 'base') }}</div>
								<div class="under">{{ tittel.varighet % 60 }} {{ 'tittel.varighet.sek'|trans({}, 'base') }}</div>
							{% else %}
								<div class="over">? {{ 'tittel.varighet.min'|trans({}, 'base') }}</div>
								<div class="under">? {{ 'tittel.varighet.sek'|trans({}, 'base') }}</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
				<div class="col-{{ translationDomain == 'utstilling' ? '9' : '7' }}">
					<p style="line-height:1em">
						{{ tittel.tittel is defined ? tittel.tittel : '' }}
						<br />
						<small>
							{% if (tittel.parentes is defined) and not (tittel.parentes is empty) %}
								{{ tittel.parentes }}
							{% elseif (tittel.parentes is defined) and (tittel.parentes is empty) and (type == 'teater' or type == 'litteratur' or type == 'film' or type == 'annet') %}
							{% else %}
								<span class="text-danger">{{ 'tittel.info_mangler'|trans({}, 'base' ) }}</span>
							{% endif %}
						</small>
					</p>
				</div>
				<div class="col-3">
					<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_rediger_tittel', {k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, t_id: tittel.t_id }) }}" class="btn btn-sm btn-outline-primary actionLink" id="editT{{ tittel.t_id }}">
						{{ 'tittel.rediger'|trans({}, 'base') }}
					</a>
				</div>
			</div>
		</li>
	{% else %}
		<li class="list-group-item">
			{{ 'overviewAction.titler.ingen'|trans }}
		</li>
	{% endfor %}
	<li class="list-group-item">
		<a class="btn btn-block btn-sm btn-outline-secondary" href="{{ path('ukm_delta_ukmid_pamelding_innslag_ny_tittel', {k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
			{{ 'overviewAction.titler.legg_til'|trans }}
		</a>
	</li>
</ul>