{% extends "UKMDeltaBundle:Tittel:skjema.html.twig" %}
{% trans_default_domain translationDomain %}


{% block form_body %}
	<input type="hidden" name="innslagsnavn" value="{{ innslag.getNavn() }}" />
	<input type="hidden" name="t_id" value="{{ tittel is defined ? tittel.getId() : 'new' }}" />


	<div class="form-group">
        <label>{{ 'tittel.tittel.label'|trans({'%bestemt': type.getTekst('titler.bestemt')|capitalize},'base') }}</label>
		<input type="text" required name="tittel" class="form-control" placeholder="{{ type.getTekst('titler.placeholder') }}" />
	</div>
	
	
	<div class="form-group">
		<label>{{ 'tittel.type.label'|trans }}</label>
		<input type="text" required name="type" class="form-control" placeholder="{{ 'tittel.type.placeholder'|trans }}" value="{{ tittel is defined ? tittel.getType() }}" />
		<p class="help">{{ 'tittel.type.forklaring'|trans }}</p>
	</div>
{% endblock form_body %}
