{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@UKMDeltaBundle/Resources/public/js/tittel.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}

	
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% if tittel.tittel is defined %}
					<h1>Endre tittel</h1>
				{% else %}
					<h1>Legg til tittel</h1>
				{% endif %}
				<form class="delta-form form-group" method="POST" action="{{ path('ukm_delta_ukmid_pamelding_innslag_lagre_ny_tittel', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">
					<input type="hidden" name="innslagsnavn" value="{{ innslag.get('b_name') }}" />
					<input type="hidden" name="t_id" value="{{ (tittel is defined) and (tittel.get('t_id') > 0) ? tittel.get('t_id') : 'new' }}" />
					<div class="form-group">
						<label>Tittel</label>
						<input type="text" required name="tittel" class="form-control" placeholder="Eks. Bakekunst, En smak av det franske kjøkken..." value="{{ (tittel is defined) and (tittel.get('t_id') > 0) ? tittel.get('tittel') : '' }}" />
					</div>

					<div class="form-group">
						<label>Erfaring</label>
						<input type="text" required name="erfaring" class="form-control" placeholder="Eks. Jeg har lekt meg på kjøkkenet så lenge jeg kan huske..." value="{{ (tittel is defined) and (tittel.get('t_id') > 0) ? tittel.get('erfaring') : '' }}" />
					</div>
					
					<div class="form-group">
						<label>Kommentar</label>
						<input type="text" required name="kommentar" class="form-control" placeholder="Eks. Jeg skal vise fram noe av det mest fantastiske bakverket jeg vet om, nemlig ferske, franske croissants..." value="{{ (tittel is defined) and (tittel.get('t_id') > 0) ? tittel.get('kommentar') : '' }}" />
					</div>

					<div class="form-group my-4">
						<button type="submit" class="btn btn-block btn-outline-primary btn-success">Lagre</button>
					</div>

					{% if (tittel is defined) and (tittel.get('t_id') > 0) %}
						<div class="form-group">
							<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_slett_tittel', {  k_id: k_id, pl_id: pl_id, type: type, b_id: b_id, t_id: t_id }) }}" class="btn btn-danger btn-block btn-sm">Slett tittel</a>
						</div>
					{% endif %}

					<div class="form-group center">
						<a href="{{ path('ukm_delta_ukmid_pamelding_innslag_oversikt', { k_id: k_id, pl_id: pl_id, type: type, b_id: b_id }) }}">avbryt</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}