{% extends "UKMDeltaBundle::layout.html.twig" %}

{% block content %}	
	<h1 class="center">{{ overskrift is defined ? overskrift|trans({}, 'base') : 'Oops! Noe gikk galt!' }}</h1>
	<p class="lead center">{{ ledetekst is defined ? ledetekst|trans({}, 'base') : '' }}
	</p>
	<p class="center">{{ tekst is defined ? tekst|trans({}, 'base') : '' }}</p>
	{% if cheese is defined %}
		<img></img>
		<p>Out of cheese error! Divide by cucumber, reinstall universe and try again.</p>
	{% endif %}
	<div class="row">
		<div class="col-xs-12">
			{{ code is defined ? code : '' }}
		</div>
	</div>
	
	<a href="{{ path('ukm_delta_homepage') }}" class="btn btn-primary btn-block center">Gå til forsiden</a>
{% endblock %}