{% javascripts 
    '@UKMDeltaBundle/Resources/public/js/vue-object-pages/titler.js'
%}
    <script src="{{ asset_url }}" type="text/javascript"></script> 
{% endjavascripts %}

<div id="pageOversiktInnslag" innslag_id="{{ innslag.id }}" arrangement_id="{{ innslag.context.monstring.id }}">
    <div :id="['editinnslag' + innslag.id ]" class="container main-container">
        <div class="col-12 nop">

            <div class="hr-info">
                <div class="line"></div>
                <p class="text">OM DEG / DERE</p>
                <div class="line"></div>
            </div>

            <div class="input-area">
                <div :class="{ open : innslag.navn, 'validation-failed' : !innslag.navn || !innslag.navn.length}" class="input-delta" mangler="innslag.navn">
                    <div class="overlay">
                        <div class="info">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: #A0AEC0; transform: ;msFilter:;"><path d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"></path><path d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"></path></svg>
                            <span class="text">{{ type.getTekst('artistnavn.' ~ ( innslag.getPersoner().getAntall() == 1 ? 'alene' : 'sammen' ) ~ '.navn') }}</span>
                        </div>
                    </div>
                    <input type="text" class="input" @blur="editInnslag" v-model:value="innslag.navn">
                    <button class="button-right  hover-button-delta" data-toggle="collapse" href="#innslagNavnInfo" role="button" aria-expanded="false" aria-controls="innslagNavnInfo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0.5 -1 28 28" style="fill: #fff ;transform: ;msFilter:;"><path d="M12 4C9.243 4 7 6.243 7 9h2c0-1.654 1.346-3 3-3s3 1.346 3 3c0 1.069-.454 1.465-1.481 2.255-.382.294-.813.626-1.226 1.038C10.981 13.604 10.995 14.897 11 15v2h2v-2.009c0-.024.023-.601.707-1.284.32-.32.682-.598 1.031-.867C15.798 12.024 17 11.1 17 9c0-2.757-2.243-5-5-5zm-1 14h2v2h-2z"></path></svg>
                    </button>
                </div>
                <div id="innslagNavnInfo" class="beskrivelse-under-input-delta collapse">
                    <div class="space">
                        <div class="info-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #edf2f7; transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M11 11h2v6h-2zm0-4h2v2h-2z"></path></svg>
                        </div>
                        <span>
                            Artist eller gruppenavn er det navnet du / dere ønsker å bli vist frem som til andre deltagere og publikum. Dette kan for eksempel være “Nordmann Productions”, “Ola Nordmann”, eller det du / dere måtte ønske å kalle dere.
                        </span>
                    </div>
                </div>
            </div>

        {# BESKRIVELSE #}
        {% if type.harBeskrivelse() %}
            <div class="input-area">
                <div :class="{ open : innslag.beskrivelse}" class="input-delta" mangler="innslag.beskrivelse">
                    <div class="overlay">
                        <div class="info">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: #A0AEC0 ;transform: ;msFilter:;"><path d="M15 11h7v2h-7zm1 4h6v2h-6zm-2-8h8v2h-8zM4 19h10v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1h2zm4-7c1.995 0 3.5-1.505 3.5-3.5S9.995 5 8 5 4.5 6.505 4.5 8.5 6.005 12 8 12z"></path></svg>
                            <span class="text">Beskriv deg / dere selv</span>
                        </div>
                    </div>
                    <textarea v-model="innslag.beskrivelse" @blur="editInnslag" type="text" class="input" style="height: auto"></textarea>
                    <button class="button-right  hover-button-delta" data-toggle="collapse" href="#innslagBeskrivelseInfo" role="button" aria-expanded="false" aria-controls="innslagBeskrivelseInfo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0.5 -1 28 28" style="fill: #fff ;transform: ;msFilter:;"><path d="M12 4C9.243 4 7 6.243 7 9h2c0-1.654 1.346-3 3-3s3 1.346 3 3c0 1.069-.454 1.465-1.481 2.255-.382.294-.813.626-1.226 1.038C10.981 13.604 10.995 14.897 11 15v2h2v-2.009c0-.024.023-.601.707-1.284.32-.32.682-.598 1.031-.867C15.798 12.024 17 11.1 17 9c0-2.757-2.243-5-5-5zm-1 14h2v2h-2z"></path></svg>
                    </button>
                </div>
                <div id="innslagBeskrivelseInfo" class="beskrivelse-under-input-delta collapse">
                    <div class="space">
                        <div class="info-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #edf2f7; transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M11 11h2v6h-2zm0-4h2v2h-2z"></path></svg>
                        </div>
                        <span>
                            Her vil vi vite mer om deg og hvordan du lager film. Eks. Jeg startet å lage film når jeg var 12 år, og liker å lage filmer om folk som danser. Jeg filmer med speilrefleks, og liker å bruke mye tid på lyssetting.
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}

        {# SJANGER #}
        {% if type.harSjanger() %}
            <div class="input-area">
                <div :class="{open : innslag.sjanger}" class="input-delta" mangler="innslag.sjanger">
                    <div class="overlay">
                        <div class="info">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: #A0AEC0; transform: ;msFilter:;"><path d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"></path><path d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"></path></svg>
                            <span class="text">Sjanger</span>
                        </div>
                    </div>
                    <input v-model="innslag.sjanger" @blur="editInnslag" type="text" class="input">
                    <button class="button-right  hover-button-delta" data-toggle="collapse" href="#innslagSjangerInfo" role="button" aria-expanded="false" aria-controls="innslagSjangerInfo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0.5 -1 28 28" style="fill: #fff ;transform: ;msFilter:;"><path d="M12 4C9.243 4 7 6.243 7 9h2c0-1.654 1.346-3 3-3s3 1.346 3 3c0 1.069-.454 1.465-1.481 2.255-.382.294-.813.626-1.226 1.038C10.981 13.604 10.995 14.897 11 15v2h2v-2.009c0-.024.023-.601.707-1.284.32-.32.682-.598 1.031-.867C15.798 12.024 17 11.1 17 9c0-2.757-2.243-5-5-5zm-1 14h2v2h-2z"></path></svg>
                    </button>
                </div>
                <div id="innslagSjangerInfo" class="beskrivelse-under-input-delta collapse">
                    <div class="space">
                        <div class="info-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #edf2f7; transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M11 11h2v6h-2zm0-4h2v2h-2z"></path></svg>
                        </div>
                        <span>
                            {{ type.getTekst('sjanger.placeholder') }}
                        </span>
                    </div>
                </div>
            </div>


        {% endif %}

        </div>


        <div class="accordion-item with-shadow with-radius">
            <div class="panel-default">
                <innslag-persons></innslag-persons>
            </div>
        </div>

        <div v-if="innslag.type 
        && innslag.type.key != 'cosplay'
        && innslag.type.key != 'dataspillgruppe'
        ">
            <div class="hr-info with-space">
                <div class="line"></div>
                <p class="text">OM BIDRAGET</p>
                <div class="line"></div>
            </div>

            <!-- titler -->
            <div  id="alleTitler">
                <titler-component></titler-component>
            </div>
        </div>

        <!-- tekniske behov -->
        <div 
            v-if="innslag && innslag.type"
            id="tekniskeBehovDiv">
            <div 
            v-if="
                innslag.type.key == 'musikk' ||
                innslag.type.key == 'teater' ||
                innslag.type.key == 'dans' ||
                innslag.type.key == 'litteratur' ||
                innslag.type.key == 'scene'"
            class="input-area">
                <div :class="{ open : innslag.tekniske_behov }" class="input-delta" mangler="innslag.tekniske">
                    <div class="overlay">
                        <div class="info">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: #A0AEC0 ;transform: ;msFilter:;">
                                <path d="m21.512 6.112-3.89 3.889-3.535-3.536 3.889-3.889a6.501 6.501 0 0 0-8.484 8.486l-6.276 6.275a.999.999 0 0 0 0 1.414l2.122 2.122a.999.999 0 0 0 1.414 0l6.275-6.276a6.501 6.501 0 0 0 7.071-1.414 6.504 6.504 0 0 0 1.414-7.071z"></path>
                            </svg>
                            <span class="text">Tekniske behov</span>
                        </div>
                    </div>
                    <textarea v-model="innslag.tekniske_behov" @blur="editInnslag" type="text" class="input" style="height: auto"></textarea>
                    <button class="button-right  hover-button-delta" data-toggle="collapse" href="#innslagTekniskeBehov" role="button" aria-expanded="false" aria-controls="innslagTekniskeBehov">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0.5 -1 28 28" style="fill: #fff ;transform: ;msFilter:;">
                            <path d="M12 4C9.243 4 7 6.243 7 9h2c0-1.654 1.346-3 3-3s3 1.346 3 3c0 1.069-.454 1.465-1.481 2.255-.382.294-.813.626-1.226 1.038C10.981 13.604 10.995 14.897 11 15v2h2v-2.009c0-.024.023-.601.707-1.284.32-.32.682-.598 1.031-.867C15.798 12.024 17 11.1 17 9c0-2.757-2.243-5-5-5zm-1 14h2v2h-2z"></path></svg>
                    </button>
                    
                </div>
                <div id="innslagTekniskeBehov" class="beskrivelse-under-input-delta collapse">
                    <div class="space">
                        <div class="info-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #edf2f7; transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M11 11h2v6h-2zm0-4h2v2h-2z"></path></svg>
                        </div>
                        <span>
                            Her lurer vi på ting som vil gjøre det enklere for teknikerne å gjøre jobben sin. Fyller du inn dette grundig vil vi kunne gi deg en bedre opplevelse.
                            <br>
                            <br>
                            For eksempel:
                            <br>
                            <br>
                            Skal to av dere synge? Skriv opp to vokalmikrofoner. Vil du helst ha et flygel om det er tilgjengelig, eller et el-piano? Spiller du el-gitar eller akustisk gitar? Og trenger den mikrofon eller forsterker? Ønsker dere noe spesielt av lysdesign?
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fullfor-button-div">
        <div class="button-div">
            <button @click="saveAndFinish" class="round-style-button fullfor">
                <span class="text">Lagre of fullfør</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(216, 33%, 97%)" class="icon"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
        <div class="button-div">
            <button @click="deleteInnslag(innslag)" class="slett-bidrag">Slett bidrag</button>
        </div>
    </div>
</div>

{% javascripts 
    '@UKMDeltaBundle/Resources/public/js/vue-object-pages/oversiktInnslag.js'
%}
    <script src="{{ asset_url }}" type="text/javascript"></script> 
{% endjavascripts %}