{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	<h1 class="mt-0">Endre passord</h1>
	<p>
		<strong>Har du også fått et merkelig passord?</strong><br />
		Alle våre passord trekkes tilfeldig ut fra den norske ordboka, og innimellom blir de litt merkelige. Her kan du velge ditt eget passord.
	</p>
    {{ form_widget(form) }}
    
	<div class="fullfor-button-div">	
        <div class="button-div">
        	<input type="submit" value="{{ 'change_password.submit'|trans }}" class="round-style-button hover-button-delta fullfor" />
        </div>
        <div class="button-div">
            <a href="{{ path('ukm_delta_ukmid_homepage') }}" class="slett-bidrag">avbryt</button>
        </div>
    </div>
</form>
