{% extends "UKMUserBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}

{% block delta_content%}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<h1 class="mt-0">{{ 'nosms.header'|trans }}</h1>
				<p>{{ 'nosms.top'|trans|nl2br }}</p>


				<div class="alert alert-warning my-3">
					{{ 'nosms.varsel'|trans({'%id': kode}) }}
				</div>

				<p class="help">{{ 'nosms.obs'|trans({'%nr': nummer}) }}</p>
				
				<p class="my-3">{{ 'nosms.videre'|trans }}</p>
				
				<p>
					<a href="{{ path ('ukm_user_registration_waiting_for_sms', { phone: nummer }) }}" class="btn btn-block btn-outline-primary">
						{{ 'nosms.videreknapp'|trans }}
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}