{% extends "UKMUserBundle::layout.html.twig" %}

{% block content %}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<h1 class="center">Mobilnummeret {{ phone }} er allerede registert</h1>
			
				<h3>Alternativ 1</h3>
				<p>
					Hvis {{ phone }} er ditt mobilnummer, bruker du 
					<a href="{{ path('fos_user_resetting_request', {'phone': phone}) }}">glemt passord-funksjonen</a>.
				</p>
				
				<h3>Alternativ 2</h3>
				<p>
					Hvis du har fått en 4-sifret SMS-kode av oss, kan du forsøke å skrive inn denne på
					<a href="{{ path('ukm_user_registration_check_sms') }}">denne siden</a>
				</p>
				
				<h3>Alternativ 3</h3>
				<p>
					Hvis du har skrevet feil, og {{ phone }} ikke er ditt mobilnummer, 
					kan du 
					<a href="{{ path('fos_user_registration_register' ) }}">gå tilbake til registreringsskjemaet</a>
					og prøve på nytt.
				</p>	
			</div>
		</div>
	</div>
{% endblock %}