{% extends "UKMUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self %}

{% block tel_widget %}
	{% set type = 'tel' %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block content %}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				{% if phoneAlreadyRegistered is defined and phoneAlreadyRegistered == true %}
					<div class="alert alert-danger">
						<h4>Mobilnummer allerede registrert</h4>
						<p>
							Mobilnummeret du har forsøkt å registrere tilhører allerede en bruker.
							<a href=" {{ path('fos_user_resetting_request') }}">Du kan derfor prøve glemt passord-funksjonen.</a>
						</p>
					</div>
				{% endif %}
				<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
				    {{ form_widget(form) }}
				    <div>
				        <input class="btn btn-outline-primary btn-block" type="submit" value="Registrer" />
				    </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}