{% extends "UKMUserBundle::layout.html.twig" %}
{% trans_default_domain translationDomain %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'@UKMUserBundle/Resources/public/js/checkSMS.js' %}
    	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
{% endblock %}

{% block delta_content %}
	<div class="container">	
		<div class="row">
			<div class="col-12">
				<h1 class="mt-0">{{ 'waitsms.header'|trans }}</h1>

				<p class="my-3 center">{{ 'waitsms.top'|trans|nl2br }}</p>

				<input type="hidden" id="url" value="{{ ajax_url }}" />
				<input type="hidden" id="phone" value="{{ phone }}" />

				<div class="center">
					<img src="//ico.ukm.no/loading.gif" />
				</div>
				<div class="center small">
					{{ 'waitsms.sub'|trans }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}