{% extends "UKMDeltaBundle:Tittel:skjema.html.twig" %}
{% trans_default_domain translationDomain %}


{% block form_body %}
	<input type="hidden" name="innslagsnavn" value="{{ innslag.get('b_name') }}" />
	<input type="hidden" name="t_id" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('t_id') : 'new' }}" />

	<div class="form-group">
		<label>{{ 'tittel.tittel.label'|trans }}</label>
		<input type="text" required name="tittel" class="form-control" placeholder="{{ 'tittel.tittel.placeholder'|trans }}" value="{{ tittel is defined and tittel.get('t_id') > 0 ? tittel.get('tittel') : '' }}" />
	</div>
	
	<div class="form-group" id="tekst-rad">
		<label>{{ 'tittel.tekst_av.label'|trans }}</label>
		<input type="text" name="tekstforfatter" class="form-control" placeholder="{{ 'tittel.tekst_av.placeholder'|trans }}" value="{{ tittel is defined ? tittel.get('tekst_av') : '' }}" />
		<p class="help">{{ 'tittel.tekst_av.help'|trans }}</p>
	</div>
	
	<div class="form-group">
		<label>{{ 'tittel.leseopp.label'|trans }}</label>
	</div>

	<div class="form-group" id="leseopp-valg" >
		<label class="radio-inline">
			<input type="radio" name="leseopp" value="1" {{ (tittel is defined and tittel.get('litterature_read') == 1) or tittel is not defined ? 'checked' : '' }} required />
			{{ 'ja'|trans({}, 'base') }}
		</label>
		<label class="radio-inline">
			<input type="radio" name="leseopp" value="0" {{ tittel is defined and tittel.get('litterature_read') == 0 ? 'checked' : '' }} required />
			{{ 'nei'|trans({}, 'base') }}
		</label>
	</div>
	
	
	<div class="form-group leseopp-true">
		<label>{{ 'tittel.varighet.label'|trans }}</label>
	</div>
	
	<div class="form-group leseopp-true">
		{% include "UKMDeltaBundle:Tittel:varighet.html.twig" %}
		<p class="help">{{ 'tittel.varighet.help'|trans }}</p>
	</div>
{% endblock form_body %}